In [792]:
from graphdatascience import GraphDataScience
import sys

# neo4j desktop v5.11.0

In [793]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 10 # number of nouns extracted from each article
DATA = "DNP" # DNP or WIKI
URL = ""
TEST = ""
if DATA == "DNP":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
    TEST = "https://www.dnp.co.jp/news/detail/20169924_1587.html"
elif DATA == "WIKI_FP100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Zinedine_Zidane"
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [794]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [795]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [796]:
# query = f"""
# MERGE (a:Article {{url: "{TEST}"}})
# WITH a
# CALL apoc.load.html(a.url, {{
# title: "title",
# h2: "h2",
# body: "body p"
# }})
# YIELD value
# WITH a,
#     reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#     value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.title, a.body
# """
# gds.run_cypher(query)

In [797]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})
# CALL apoc.nlp.gcp.entities.stream(a, {{
# nodeProperty: 'body',
# key: '{KEY}'
# }})
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url nodes (article, player, ...)

In [798]:
query = f"""
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM '{URL}' AS row
  RETURN row",
  "MERGE (a:Article {{name: row.id, url: row.url}})
  WITH a
  CALL apoc.load.html(a.url, {{
    title: 'title',
    h2: 'h2',
    body: 'body p'
  }})
  YIELD value
  WITH a,
        reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
        value.title[0].text AS title
  SET a.body = body, a.title = title",
  {{batchSize: 5, parallel: true}}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        2     10          0                   10

## set phrase and salience properties

In [799]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        1     10         10                   10

## create noun-url relationships

In [800]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [801]:
query = f"""
MATCH (a:Article {{url: "{TEST}"}})-[r:CONTAINS]-(n)
RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a.processed,a.phrase[0..$nphrase],a.salience[0..$nphrase],collect(r.rank),collect(r.score),collect(n.name)
0,True,"[DNP, 読者, 書籍製造, トーハン桶川センター, 製造ライン, トーハン, 需要, 埼...","[0.12794738, 0.0794702, 0.06718063, 0.06280609...","[9, 2, 5, 3, 8, 6, 10, 7, 1, 4]","[0.030609066, 0.0794702, 0.06272191, 0.0671806...","[株式会社トーハン, 読者, 製造ライン, 書籍製造, 埼玉県, トーハン, 書籍製造ライン..."

## input

In [802]:
if DATA == "DNP":
    # input = {
    #     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
    #     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
    #     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
    #     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
    # }
    # name = "C-1"
    # url = input[name]

    # query = """  
    # MERGE (i:Input {name: $name, url: $url})
    # WITH i
    # CALL apoc.load.html(i.url, {
    #    title: 'title',
    #    h2: "h2",
    #    body: 'body p'
    # })
    # YIELD value
    # WITH i,
    #      reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
    #      value.title[0].text AS title
    # SET i.body = body, i.title = title
    # """
    # gds.run_cypher(query, {"name": name, "url": url})

    name = "Test"
    # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    query = """  
    MERGE (i:Input {name: $name, url: "test.html", title: "For Test", 
            body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    """
    gds.run_cypher(query, {"name": name})
    
elif DATA == "WIKI_FP100":
    name = "Thierry Henry"
    query = """
    MERGE (i:Input {name: $name, url: "https://en.wikipedia.org/wiki/Thierry_Henry"})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name})
    
# set phrase and salience properties (input)
query = f"""
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [803]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Common,Similarity
0,B-3,https://www.dnp.co.jp/news/detail/20169918_158...,[DNP],0.500000
1,B-1,https://www.dnp.co.jp/news/detail/20169924_158...,[DNP],0.500000
2,B-2,https://www.dnp.co.jp/news/detail/20169889_158...,[DNP],0.125000
3,B-5,https://www.dnp.co.jp/news/detail/20169888_158...,[東京都],0.041667
4,B-10,https://www.dnp.co.jp/news/detail/20169882_158...,[自然共生サイト],0.033333

## create article-article relationships

In [804]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [805]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,B-8,"[ドローン, 実証実験, 兵庫県, 株式会社DNPグラフィカ, 社会インフラ実装, 日本印刷...",B-6,"[日本印刷株式会社, 蔵書点検サービス, RFID, 蔵書点検, 作業時間, 図書館, 富士...",日本印刷株式会社,6,1,0.583333
1,B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",B-6,"[日本印刷株式会社, 蔵書点検サービス, RFID, 蔵書点検, 作業時間, 図書館, 富士...",日本印刷株式会社,2,1,0.750000
2,B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",B-6,"[日本印刷株式会社, 蔵書点検サービス, RFID, 蔵書点検, 作業時間, 図書館, 富士...",日本印刷株式会社,1,1,1.000000
3,B-3,"[DNP, Tokyo Future Tour, 主催者プログラム, 東京モーターショー, ...",B-1,"[DNP, 読者, 書籍製造, トーハン桶川センター, 製造ライン, トーハン, 需要, 埼...",DNP,1,1,1.000000
4,B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",B-1,"[DNP, 読者, 書籍製造, トーハン桶川センター, 製造ライン, トーハン, 需要, 埼...",DNP,4,1,0.625000
5,B-3,"[DNP, Tokyo Future Tour, 主催者プログラム, 東京モーターショー, ...",B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",DNP,1,4,0.625000
6,B-1,"[DNP, 読者, 書籍製造, トーハン桶川センター, 製造ライン, トーハン, 需要, 埼...",B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",DNP,1,4,0.625000
7,B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",企業,3,2,0.416667
8,B-7,"[社員, 取り組み, フェアトレード製品, オフィス, コーヒー, 認証製品, 食堂, 企業...",B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",企業,8,2,0.312500
9,B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",B-7,"[社員, 取り組み, フェアトレード製品, オフィス, コーヒー, 認証製品, 食堂, 企業...",社員,10,1,0.550000
10,B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",B-7,"[社員, 取り組み, フェアトレード製品, オフィス, コーヒー, 認証製品, 食堂, 企業...",企業,3,8,0.229167
11,B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",B-7,"[社員, 取り組み, フェアトレード製品, オフィス, コーヒー, 認証製品, 食堂, 企業...",企業,2,8,0.312500
12,B-1,"[DNP, 読者, 書籍製造, トーハン桶川センター, 製造ライン, トーハン, 需要, 埼...",B-3,"[DNP, Tokyo Future Tour, 主催者プログラム, 東京モーターショー, ...",DNP,1,1,1.000000
13,B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",B-3,"[DNP, Tokyo Future Tour, 主催者プログラム, 東京モーターショー, ...",DNP,4,1,0.625000
14,B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",B-8,"[ドローン, 実証実験, 兵庫県, 株式会社DNPグラフィカ, 社会インフラ実装, 日本印刷...",日本印刷株式会社,1,6,0.583333
15,B-6,"[日本印刷株式会社, 蔵書点検サービス, RFID, 蔵書点検, 作業時間, 図書館, 富士...",B-8,"[ドローン, 実証実験, 兵庫県, 株式会社DNPグラフィカ, 社会インフラ実装, 日本印刷...",日本印刷株式会社,1,6,0.583333
16,B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",B-8,"[ドローン, 実証実験, 兵庫県, 株式会社DNPグラフィカ, 社会インフラ実装, 日本印刷...",日本印刷株式会社,2,6,0.333333
17,B-8,"[ドローン, 実証実験, 兵庫県, 株式会社DNPグラフィカ, 社会インフラ実装, 日本印刷...",B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",日本印刷株式会社,6,1,0.583333
18,B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",日本印刷株式会社,2,1,0.750000
19,B-6,"[日本印刷株式会社, 蔵書点検サービス, RFID, 蔵書点検, 作業時間, 図書館, 富士...",B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",日本印刷株式会社,1,1,1.000000
20,B-2,"[生成, 企業, 生活者, DNP, 属性, 情報, 動画, パーソナライズド動画, 動画,...",B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",企業,2,3,0.416667
21,B-7,"[社員, 取り組み, フェアトレード製品, オフィス, コーヒー, 認証製品, 食堂, 企業...",B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",企業,8,3,0.229167
22,B-9,"[日本印刷株式会社 株式会社東海理化 大日本印刷株式会社, 課題, 車両, サービス, 用車...",B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",サービス,4,5,0.225000
23,B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",B-9,"[日本印刷株式会社 株式会社東海理化 大日本印刷株式会社, 課題, 車両, サービス, 用車...",サービス,5,4,0.225000
24,B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",市谷の杜,3,8,0.229167
25,B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",都市,9,2,0.305556
26,B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",森づくり,10,4,0.175000
27,B-7,"[社員, 取り組み, フェアトレード製品, オフィス, コーヒー, 認証製品, 食堂, 企業...",B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",社員,1,10,0.550000
28,B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",市谷の杜,8,3,0.229167
29,B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",都市,2,9,0.305556
30,B-5,"[緑の都市賞, 都市, 緑, 森づくり, 本社, 東京都, 敷地, 市谷の杜, 公益財団法人...",B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",森づくり,4,10,0.175000
31,B-6,"[日本印刷株式会社, 蔵書点検サービス, RFID, 蔵書点検, 作業時間, 図書館, 富士...",B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",日本印刷株式会社,1,2,0.750000
32,B-4,"[日本印刷株式会社, サイバー攻撃, 企業, 体験型実践演習, サービス, 検知・対応, 日...",B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",日本印刷株式会社,1,2,0.750000
33,B-8,"[ドローン, 実証実験, 兵庫県, 株式会社DNPグラフィカ, 社会インフラ実装, 日本印刷...",B-10,"[保全, 日本印刷株式会社, 市谷の杜, 生物多様性, 自然共生サイト, 環境省, 市谷地区...",日本印刷株式会社,6,2,0.333333

## evaluate (still naive by salience)

In [806]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,r.common,Similarity
0,B-3,https://www.dnp.co.jp/news/detail/20169918_158...,[DNP],0.399428
1,B-1,https://www.dnp.co.jp/news/detail/20169924_158...,[DNP],0.315840
2,B-2,https://www.dnp.co.jp/news/detail/20169889_158...,[DNP],0.276036
3,B-10,https://www.dnp.co.jp/news/detail/20169882_158...,[自然共生サイト],0.117703
4,B-5,https://www.dnp.co.jp/news/detail/20169888_158...,[東京都],0.106223

## project graph to memory

In [807]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")

The projection took 8 ms
Graph 'testgraph' node count: 104
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']

## node similarity (JACCARD)

In [808]:
result = gds.nodeSimilarity.filtered.write(
    G,
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="rank",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 5
Nodes compared: 1
Mean similarity: 0.025235068798065186

## evaluate (jaccard similarity)

In [809]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                                URL  Similarity
0    B-10  https://www.dnp.co.jp/news/detail/20169882_158...    0.047619
1     B-5  https://www.dnp.co.jp/news/detail/20169888_158...    0.037736
2     B-2  https://www.dnp.co.jp/news/detail/20169889_158...    0.022472
3     B-1  https://www.dnp.co.jp/news/detail/20169924_158...    0.009174
4     B-3  https://www.dnp.co.jp/news/detail/20169918_158...    0.009174

## 1. node embedding

In [810]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank",
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0      [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
1      [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
2      [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
3      [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...
4      [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
                             ...
99     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
100    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
101    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
102    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
103    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: embedding, Length: 104, dtype: object

In [811]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 104

## 2. kNN

In [812]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 104
Mean similarity: 0.7297950744628906

## evaluate (node embedding + knn)

In [813]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                                URL  Similarity
0     B-6  https://www.dnp.co.jp/news/detail/20169899_158...    0.719788
1     B-2  https://www.dnp.co.jp/news/detail/20169889_158...    0.550983
2     B-8  https://www.dnp.co.jp/news/detail/20169884_158...    0.548000
3     B-7  https://www.dnp.co.jp/news/detail/20169892_158...    0.503237
4     B-9  https://www.dnp.co.jp/news/detail/20169860_158...    0.467755
5    B-10  https://www.dnp.co.jp/news/detail/20169882_158...    0.459090
6     B-5  https://www.dnp.co.jp/news/detail/20169888_158...    0.450805
7     B-4  https://www.dnp.co.jp/news/detail/20169887_158...    0.392644
8     B-1  https://www.dnp.co.jp/news/detail/20169924_158...    0.369289
9     B-3  https://www.dnp.co.jp/news/detail/20169918_158...    0.293785

In [814]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                                URL  Similarity
0     B-1  https://www.dnp.co.jp/news/detail/20169924_158...    0.835410
1     B-3  https://www.dnp.co.jp/news/detail/20169918_158...    0.806186
2     B-6  https://www.dnp.co.jp/news/detail/20169899_158...    0.783473
3     B-4  https://www.dnp.co.jp/news/detail/20169887_158...    0.783473
4     B-7  https://www.dnp.co.jp/news/detail/20169892_158...    0.750000
5     B-2  https://www.dnp.co.jp/news/detail/20169889_158...    0.704124
6     B-8  https://www.dnp.co.jp/news/detail/20169884_158...    0.704124
7    B-10  https://www.dnp.co.jp/news/detail/20169882_158...    0.704124
8     B-5  https://www.dnp.co.jp/news/detail/20169888_158...    0.625000
9     B-9  https://www.dnp.co.jp/news/detail/20169860_158...    0.602062

# (postprocessing) free up memory

In [815]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()