In [926]:
from graphdatascience import GraphDataScience
import sys

# neo4j desktop v5.11.0

In [927]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 100 # number of nouns extracted from each article
DATA = "WIKI_P100" # DNP or WIKI
URL = ""
TEST = ""
name = ""
url_input = ""
if DATA == "DNP":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
    TEST = "https://www.dnp.co.jp/news/detail/20169924_1587.html"
    name = "Test"
    url_input = "test.html"
elif DATA == "WIKI_FP100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Zinedine_Zidane"
    name = "Thierry Henry"
    url_input = "https://en.wikipedia.org/wiki/Thierry_Henry"
elif DATA == "WIKI_P100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_persons_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Barack_Obama"    
    name = "Joe Biden"
    url_input = "https://en.wikipedia.org/wiki/Joe_Biden"
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [928]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [929]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [930]:
# query = f"""
# MERGE (a:Article {{url: "{TEST}"}})
# WITH a
# CALL apoc.load.html(a.url, {{
# title: "title",
# h2: "h2",
# body: "body p"
# }})
# YIELD value
# WITH a,
#     reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#     value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.title, a.body
# """
# gds.run_cypher(query)

In [931]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})
# CALL apoc.nlp.gcp.entities.stream(a, {{
# nodeProperty: 'body',
# key: '{KEY}'
# }})
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url nodes (article, person, ...)

In [932]:
query = f"""
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM '{URL}' AS row
  RETURN row",
  "MERGE (a:Article {{name: row.id, url: row.url}})
  SET a.grp = CASE WHEN 'occupation' IN keys(row) THEN row.occupation ELSE null END
  SET a.grp1 = CASE WHEN 'nationality' IN keys(row) THEN row.nationality ELSE null END
  WITH a
  CALL apoc.load.html(a.url, {{
    title: 'title',
    h2: 'h2',
    body: 'body p'
  }})
  YIELD value
  WITH a,
        reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
        value.title[0].text AS title
  SET a.body = body, a.title = title",
  {{batchSize: 5, parallel: true}}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       20    100         14                  100

## set phrase and salience properties

In [933]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100        279                  100

## create noun-url relationships

In [934]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(a.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [935]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})-[r:CONTAINS]-(n)
# RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
# """
# gds.run_cypher(query, {'nphrase': nphrase})

## input

In [936]:
if DATA == "DNP":
    # input = {
    #     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
    #     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
    #     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
    #     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
    # }
    # name = "C-1"
    # url = input[name]

    # query = """  
    # MERGE (i:Input {name: $name, url: $url})
    # WITH i
    # CALL apoc.load.html(i.url, {
    #    title: 'title',
    #    h2: "h2",
    #    body: 'body p'
    # })
    # YIELD value
    # WITH i,
    #      reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
    #      value.title[0].text AS title
    # SET i.body = body, i.title = title
    # """
    # gds.run_cypher(query, {"name": name, "url": url})

    # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    query = """  
    MERGE (i:Input {name: $name, url: "test.html", title: "For Test", 
            body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    """
    gds.run_cypher(query, {"name": name})
    
elif DATA.startswith("WIKI"):
    query = """
    MERGE (i:Input {name: $name, url: $url_input})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name, "url_input": url_input})
    
# set phrase and salience properties (input)
query = f"""
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(i.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [937]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Common,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,"[family, voters, troops, Donald Trump, campaig...",0.356167
1,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,"[Latin American, family, student, government, ...",0.124941
2,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,"[U.S. Congress, law, member, troops, administr...",0.111314
3,Barack Obama,https://en.wikipedia.org/wiki/Barack_Obama,politician,United States of America,"[decision, politics, U.S. Congress, law, John ...",0.048214
4,Hillary Clinton,https://en.wikipedia.org/wiki/Hillary_Clinton,politician,United States of America,"[U.S. Congress, family, Democratic Party, memb...",0.044671
5,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,"[President, law, family, first, campaign, pres...",0.043997
6,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,"[Latin American, law, politician, vice preside...",0.035194
7,Andrew Cuomo,https://en.wikipedia.org/wiki/Andrew_Cuomo,politician,United States of America,"[Democratic Party, administration, campaign, B...",0.033422
8,Stephen Breyer,https://en.wikipedia.org/wiki/Stephen_Breyer,politician,United States of America,"[decision, politics, law, Jimmy Carter, United...",0.032485
9,Bill Clinton,https://en.wikipedia.org/wiki/Bill_Clinton,politician,United States of America,"[President, Democratic Party, member, administ...",0.029319

## create article-article relationships

In [938]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [939]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,Mayu Watanabe,"[Mayu Watanabe, AKB48, career, singles, Team B...",Sōichirō Honda,"[Soichiro Honda, Honda Motor Co., Ltd., Mika H...",series,32,94,0.020944
1,Mayu Watanabe,"[Mayu Watanabe, AKB48, career, singles, Team B...",Sōichirō Honda,"[Soichiro Honda, Honda Motor Co., Ltd., Mika H...",Japanese,43,20,0.036628
2,Mayu Watanabe,"[Mayu Watanabe, AKB48, career, singles, Team B...",Sōichirō Honda,"[Soichiro Honda, Honda Motor Co., Ltd., Mika H...",one,48,86,0.016231
3,Mayu Watanabe,"[Mayu Watanabe, AKB48, career, singles, Team B...",Sōichirō Honda,"[Soichiro Honda, Honda Motor Co., Ltd., Mika H...",life,80,50,0.016250
4,Mayu Watanabe,"[Mayu Watanabe, AKB48, career, singles, Team B...",Sōichirō Honda,"[Soichiro Honda, Honda Motor Co., Ltd., Mika H...",brother,85,68,0.013235
...,...,...,...,...,...,...,...,...
29835,Kotono Mitsuishi,"[Kotono Mitsuishi, narrator., Japanese, Arts V...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",high school,6,40,0.095833
29836,Kotono Mitsuishi,"[Kotono Mitsuishi, narrator., Japanese, Arts V...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",one,56,88,0.014610
29837,Todd Whitting,"[Todd Ross Whitting, player, American, head co...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",American,3,4,0.291667
29838,Todd Whitting,"[Todd Ross Whitting, player, American, head co...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",NCAA,38,23,0.034897
29839,Todd Whitting,"[Todd Ross Whitting, player, American, head co...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",one,17,88,0.035094

## evaluate (still naive by salience)

In [940]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,r.common,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,"[United States Senate, Barack Obama, president...",0.492457
1,Gerald Ford,https://en.wikipedia.org/wiki/Gerald_Ford,politician,United States of America,"[United States Senate, president, George W. Bu...",0.072916
2,Mitt Romney,https://en.wikipedia.org/wiki/Mitt_Romney,politician,United States of America,"[United States Senate, Barack Obama, president...",0.071420
3,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,"[United States Senate, Barack Obama, Latin Ame...",0.069241
4,Stephen Breyer,https://en.wikipedia.org/wiki/Stephen_Breyer,politician,United States of America,"[United States Senate, politics, decision, Ket...",0.067648
5,Furuichi Kōi,https://en.wikipedia.org/wiki/Furuichi_K%C5%8Di,engineer,Japan,"[president, student, administration, president]",0.067158
6,Barack Obama,https://en.wikipedia.org/wiki/Barack_Obama,politician,United States of America,"[White House, U.S. Congress, Democratic Party,...",0.063595
7,Richard Nixon,https://en.wikipedia.org/wiki/Richard_Nixon,politician,United States of America,"[United States Senate, president, campaign, pa...",0.059792
8,Charles Thias,https://en.wikipedia.org/wiki/Charles_Thias,athlete,United States of America,[member],0.044803
9,Daiki Arioka,https://en.wikipedia.org/wiki/Daiki_Arioka,actor,Japan,[member],0.038032

## project graph to memory

In [941]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score", "weight"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")
print(f"Graph '{G.name()}' relationship count: {G.relationship_count()}")
print(f"Graph '{G.name()}' degree distribution: {G.degree_distribution()}")
print(f"Graph '{G.name()}' density: {G.density()}")
print(f"Graph '{G.name()}' size in bytes: {G.size_in_bytes()}")
print(f"Graph '{G.name()}' memory_usage: {G.memory_usage()}")

The projection took 85 ms
Graph 'testgraph' node count: 4696
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']
Graph 'testgraph' relationship count: 13698
Graph 'testgraph' degree distribution: p99     243.000000
min       3.000000
max     288.000000
p90       9.000000
mean      8.750852
p999    276.000000
p50       3.000000
p95      15.000000
p75       3.000000
dtype: float64
Graph 'testgraph' density: 0.0006212887318960873
Graph 'testgraph' size in bytes: 32972859
Graph 'testgraph' memory_usage: 31 MiB

## node similarity (JACCARD)

In [942]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='JACCARD', # default
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.06487801074981689

## evaluate (jaccard similarity)

In [943]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,Barack Obama,https://en.wikipedia.org/wiki/Barack_Obama,politician,United States of America,0.101635
1,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.091358
2,Hillary Clinton,https://en.wikipedia.org/wiki/Hillary_Clinton,politician,United States of America,0.073193
3,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,0.072408
4,Bill Clinton,https://en.wikipedia.org/wiki/Bill_Clinton,politician,United States of America,0.069051
5,Dwight D. Eisenhower,https://en.wikipedia.org/wiki/Dwight_D._Eisenh...,politician,United States of America,0.062945
6,Mitt Romney,https://en.wikipedia.org/wiki/Mitt_Romney,politician,United States of America,0.050028
7,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,0.044742
8,Gerald Ford,https://en.wikipedia.org/wiki/Gerald_Ford,politician,United States of America,0.043979
9,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.039442

## node similarity (OVERLAP)

In [944]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='OVERLAP',
    writeRelationshipType='SIMILAR_O',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.123516845703125

## evaluate (overlap similarity)

In [945]:
query = """
MATCH (i:Input)-[r:SIMILAR_O]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,Barack Obama,https://en.wikipedia.org/wiki/Barack_Obama,politician,United States of America,0.188945
1,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.171789
2,Hillary Clinton,https://en.wikipedia.org/wiki/Hillary_Clinton,politician,United States of America,0.137717
3,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,0.135813
4,Bill Clinton,https://en.wikipedia.org/wiki/Bill_Clinton,politician,United States of America,0.135597
5,Dwight D. Eisenhower,https://en.wikipedia.org/wiki/Dwight_D._Eisenh...,politician,United States of America,0.119862
6,Mitt Romney,https://en.wikipedia.org/wiki/Mitt_Romney,politician,United States of America,0.097368
7,Gerald Ford,https://en.wikipedia.org/wiki/Gerald_Ford,politician,United States of America,0.085996
8,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,0.085732
9,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.076350

## node similarity (COSINE)

In [946]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='COSINE',
    writeRelationshipType='SIMILAR_C',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.14589304924011232

## evaluate (cosine similarity)

In [947]:
query = """
MATCH (i:Input)-[r:SIMILAR_C]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,Barack Obama,https://en.wikipedia.org/wiki/Barack_Obama,politician,United States of America,0.228747
1,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.205009
2,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,0.169942
3,Hillary Clinton,https://en.wikipedia.org/wiki/Hillary_Clinton,politician,United States of America,0.162609
4,Bill Clinton,https://en.wikipedia.org/wiki/Bill_Clinton,politician,United States of America,0.154748
5,Dwight D. Eisenhower,https://en.wikipedia.org/wiki/Dwight_D._Eisenh...,politician,United States of America,0.131586
6,Mitt Romney,https://en.wikipedia.org/wiki/Mitt_Romney,politician,United States of America,0.113782
7,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,0.108196
8,Gerald Ford,https://en.wikipedia.org/wiki/Gerald_Ford,politician,United States of America,0.095077
9,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.089234

## 1. node embedding

In [948]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
1       [1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
2       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
3       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
4       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
                              ...
4691    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4692    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4693    [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4694    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4695    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
Name: embedding, Length: 4696, dtype: object

In [949]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.mutate(
    G,
    mutateProperty="embedding_node2vec",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 4696

## 2. kNN

In [950]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# node2vec
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_node2vec"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_N",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Knn:   0%|          | 0/100 [00:00<?, ?%/s]

Relationships produced: 10
Nodes compared: 4696
Mean similarity: 1.0

## evaluate (node embedding + knn)

In [951]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,Hillary Clinton,https://en.wikipedia.org/wiki/Hillary_Clinton,politician,United States of America,0.817350
1,Sandra Day O'Connor,https://en.wikipedia.org/wiki/Sandra_Day_O%27C...,politician,United States of America,0.800251
2,Ai Haruna,https://en.wikipedia.org/wiki/Ai_Haruna,actor,Japan,0.768639
3,George Washington,https://en.wikipedia.org/wiki/George_Washington,politician,United States of America,0.707719
4,Christian Hosoi,https://en.wikipedia.org/wiki/Christian_Hosoi,athlete,United States of America,0.702277
5,Barack Obama,https://en.wikipedia.org/wiki/Barack_Obama,politician,United States of America,0.693428
6,Shintaro Uda,https://en.wikipedia.org/wiki/Shintaro_Uda,engineer,Japan,0.679200
7,Hiroshi Masuoka,https://en.wikipedia.org/wiki/Hiroshi_Masuoka_...,engineer,Japan,0.656605
8,Joi Ito,https://en.wikipedia.org/wiki/Joi_Ito,engineer,Japan,0.640827
9,Hideo Itokawa,https://en.wikipedia.org/wiki/Hideo_Itokawa,engineer,Japan,0.617541

In [952]:
# node2vec
query = """
MATCH (i:Input)-[r:SIMILAR_N]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,James Brown,https://en.wikipedia.org/wiki/James_Brown,politician,United States of America,0.784729
1,Jim Hodges,https://en.wikipedia.org/wiki/Jim_Hodges,politician,United States of America,0.780666
2,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,0.746013
3,Florence Griffith Joyner,https://en.wikipedia.org/wiki/Florence_Griffit...,athlete,United States of America,0.741414
4,Stan Bowman,https://en.wikipedia.org/wiki/Stan_Bowman,athlete,United States of America,0.730421
5,Frank Shorter,https://en.wikipedia.org/wiki/Frank_Shorter,athlete,United States of America,0.729377
6,Mark Verstegen,https://en.wikipedia.org/wiki/Mark_Verstegen,athlete,United States of America,0.686927
7,Masaru Ibuka,https://en.wikipedia.org/wiki/Masaru_Ibuka,engineer,Japan,0.662440
8,Shinichiro Sakurai,https://en.wikipedia.org/wiki/Shinichiro_Sakurai,engineer,Japan,0.647643
9,August Rodenberg,https://en.wikipedia.org/wiki/August_Rodenberg,athlete,United States of America,0.646271

In [953]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,Shigeru Amachi,https://en.wikipedia.org/wiki/Shigeru_Amachi,actor,Japan,1.0
1,Yukio Mishima,https://en.wikipedia.org/wiki/Yukio_Mishima,actor,Japan,1.0
2,Yumi Asō,https://en.wikipedia.org/wiki/Yumi_As%C5%8D,actor,Japan,1.0
3,Mitt Romney,https://en.wikipedia.org/wiki/Mitt_Romney,politician,United States of America,1.0
4,Joey Kelly,https://en.wikipedia.org/wiki/Joey_Kelly,athlete,United States of America,1.0
5,Aaron Links,https://en.wikipedia.org/wiki/Aaron_Links,athlete,United States of America,1.0
6,Bill Rodgers,https://en.wikipedia.org/wiki/Bill_Rodgers_(ru...,athlete,United States of America,1.0
7,Alberto Salazar,https://en.wikipedia.org/wiki/Alberto_Salazar,athlete,United States of America,1.0
8,Tom Lichtenberg,https://en.wikipedia.org/wiki/Tom_Lichtenberg,athlete,United States of America,1.0
9,Roy Walter Riehlman,https://en.wikipedia.org/wiki/R._Walter_Riehlman,politician,United States of America,1.0

# (postprocessing) free up memory

In [954]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()