In [1]:
from graphdatascience import GraphDataScience
import sys
import re

# neo4j desktop v5.11.0

In [2]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 100 # number of nouns extracted from each article
DATA_CLASS = "DNP" # DNP or WIKI
DATA_TYPE = "TXT" # TXT or URL (currently txt is used for dnp data)
DATA_URL = "" # input data
QUERY_DICT = {} # query dict {QUERY_NAME: QUERY_URL}
if DATA_CLASS == "DNP":
    if DATA_TYPE == "TXT":
        DATA_URL = "data/newsrelease_B-1-100_C-1-4/"
        QUERY_DICT["C-1"] = DATA_URL + "C-1.txt"
        QUERY_DICT["C-2"] = DATA_URL + "C-2.txt"
        QUERY_DICT["C-3"] = DATA_URL + "C-3.txt"
        QUERY_DICT["C-4"] = DATA_URL + "C-4.txt"
    elif DATA_TYPE == "URL":
        DATA_URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
        QUERY_DICT["C-1"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html"
        QUERY_DICT["C-2"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html"
        QUERY_DICT["C-3"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html"
        QUERY_DICT["C-4"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
elif DATA_CLASS == "WIKI_FP100":
    DATA_URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    QUERY_DICT["Thierry Henry"] = "https://en.wikipedia.org/wiki/Thierry_Henry"
elif DATA_CLASS == "WIKI_P100":
    DATA_URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_persons_100.csv"  
    QUERY_DICT["Joe Biden"] = "https://en.wikipedia.org/wiki/Joe_Biden"
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Article-[Noun]-Article Graph

## create url nodes (article, person, ...)

In [3]:
if DATA_CLASS == "DNP" and DATA_TYPE == "TXT":
  for idx in range(1, 101):
    node = "B-" + str(idx)
    file = DATA_URL + node + ".txt"
    content = ""
    with open(file, 'r') as f:
      content = f.read()
      content = re.sub('\n+', ' ', content)
    query = f"""
    MERGE (a:Article {{ name: "{node}", url: "{file}", body: "{content}" }})
    """
    gds.run_cypher(query)
else:
  query = f"""
  CALL apoc.periodic.iterate(
    "LOAD CSV WITH HEADERS FROM '{DATA_URL}' AS row
    RETURN row",
    "MERGE (a:Article {{name: row.id, url: row.url}})
    SET a.grp = CASE WHEN 'occupation' IN keys(row) THEN row.occupation ELSE null END
    SET a.grp1 = CASE WHEN 'nationality' IN keys(row) THEN row.nationality ELSE null END
    WITH a
    CALL apoc.load.html(a.url, {{
      title: 'title',
      h2: 'h2',
      body: 'body p'
    }})
    YIELD value
    WITH a,
          reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
          value.title[0].text AS title
    SET a.body = body, a.title = title",
    {{batchSize: 5, parallel: true}}
  )
  YIELD batches, total, timeTaken, committedOperations
  RETURN batches, total, timeTaken, committedOperations
  """
  gds.run_cypher(query)

## set phrase and salience properties

In [4]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100         96                  100

## create noun-url relationships

In [5]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(a.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## query

In [6]:
if DATA_CLASS == "DNP" and DATA_TYPE == "TXT":
  for QUERY_NAME, QUERY_URL in QUERY_DICT.items():
    content = ""
    with open(QUERY_URL, 'r') as f:
      content = f.read()
      content = re.sub('\n+', ' ', content)
    query = f"""
    MERGE (q:Query {{ name: "{QUERY_NAME}", url: "{QUERY_URL}", body: "{content}" }})
    """
    gds.run_cypher(query)
else:
  for QUERY_NAME, QUERY_URL in QUERY_DICT.items():
    query = """
    MERGE (q:Query {name: $name, url: $url})
    WITH q
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH q,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET q.body = body, q.title = title
    RETURN q.title, q.body
    """
    gds.run_cypher(query, {"name": QUERY_NAME, "url": QUERY_URL})
    
# set phrase and salience properties (Query)
query = f"""
MATCH (q:Query)
CALL apoc.nlp.gcp.entities.stream(q, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (Query)
query = """
MATCH (q:Query)
WHERE q.processed IS NOT NULL
FOREACH (word IN q.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (q)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(q.phrase, word) + 1
  SET r.score = q.salience[apoc.coll.indexOf(q.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(q.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [7]:
query = """
MATCH (q:Query)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,Common,Similarity
0,C-1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,"[本社, 製品, 以下, 内容物, CO2排出量, 削減, パッケージ]",0.097526
1,C-1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,"[実現, 本社, 社会, 製品, 以下, 製造, こと, CO2排出量, 削減, CO2, ...",0.035080
2,C-1,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,"[実現, 製造工程, 製品, 製造, こと, CO2排出量, 削減, CO2, 同等, 開発...",0.032132
3,C-1,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,"[実現, 社会, 製品, こと, CO2排出量, 削減]",0.022266
4,C-1,B-5,data/newsrelease_B-1-100_C-1-4/B-5.txt,None,None,"[本社, 多く, 以下, こと, 東京都]",0.019166
5,C-1,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,"[実現, 本社, 以下, CO2排出量, 削減, CO2]",0.017291
6,C-1,B-49,data/newsrelease_B-1-100_C-1-4/B-49.txt,None,None,"[実現, 社会, 製品, 製造, ブース, 開発]",0.016868
7,C-1,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,"[本社, ニュースリリース, 製品, 以下, 製造, こと, 開発]",0.014972
8,C-1,B-97,data/newsrelease_B-1-100_C-1-4/B-97.txt,None,None,"[社会, 製品, 製造, こと, 開発]",0.014649
9,C-1,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,"[実現, ステークホルダー, 社会, 多く, 製品, 幕張メッセ, CO2排出量, ブース,...",0.014466

## create article-article relationships

In [8]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#query
query = """
MATCH (q:Query), (a:Article)
WHERE any(x IN q.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (q)-[r:CORRELATES]-(a)
SET r.common = [x IN q.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (still naive by salience)

In [9]:
query = """
MATCH (q:Query)-[r:CORRELATES]-(a:Article)
WITH q, r, a, reduce(s = 0.0, word IN r.common | 
s + q.salience[apoc.coll.indexOf(q.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.common, Similarity 
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,r.common,Similarity
0,C-1,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,"[同等, CO2排出量, 削減, CO2排出量, 環境配慮型, 製造, 開発, CO2排出量...",0.791611
1,C-1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, パッケージ, CO2排出量, 削減...",0.657581
2,C-1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, パッケージ, 製造, 開発, CO...",0.603284
3,C-1,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,"[CO2排出量, 削減, CO2排出量, CO2排出量, 社会, 削減, 実現, 製品, こ...",0.498526
4,C-1,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,"[本社, 以下, 製造, 開発, ニュースリリース, 製品, 開発, こと, こと, 製造,...",0.352651
5,C-1,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, CO2排出量, CO2, 削減, ...",0.311805
6,C-1,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,"[CO2排出量, 削減, CO2排出量, 環境配慮型, パッケージ, ブース, CO2排出量...",0.285290
7,C-1,B-49,data/newsrelease_B-1-100_C-1-4/B-49.txt,None,None,"[製造, 開発, ブース, 社会, 実現, 製品, 開発, 製造, 製造]",0.267355
8,C-1,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,"[CO2排出量, CO2排出量, パッケージ, 製造, 開発, CO2排出量, 実現, パッ...",0.255479
9,C-1,B-27,data/newsrelease_B-1-100_C-1-4/B-27.txt,None,None,"[削減, グループ会社, 本社, 以下, 削減, 実現, 削減, 削減, 多く]",0.224865

## project graph to memory

In [10]:
node_projection = ["Query", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Query": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score", "weight"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")
print(f"Graph '{G.name()}' relationship count: {G.relationship_count()}")
print(f"Graph '{G.name()}' degree distribution: {G.degree_distribution()}")
print(f"Graph '{G.name()}' density: {G.density()}")
print(f"Graph '{G.name()}' size in bytes: {G.size_in_bytes()}")
print(f"Graph '{G.name()}' memory_usage: {G.memory_usage()}")

The projection took 43 ms
Graph 'testgraph' node count: 4987
Graph 'testgraph' node labels: ['Query', 'Article', 'Noun']
Graph 'testgraph' relationship count: 17354
Graph 'testgraph' degree distribution: p99     255.000000
min       3.000000
max     294.000000
p90       9.000000
mean     10.439543
p50       3.000000
p999    282.000000
p95      21.000000
p75       3.000000
dtype: float64
Graph 'testgraph' density: 0.0006979237071339353
Graph 'testgraph' size in bytes: 32981103
Graph 'testgraph' memory_usage: 31 MiB

## node similarity (JACCARD)

In [11]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='JACCARD', # default
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 40
Nodes compared: 4
Mean similarity: 0.048873099684715274

## evaluate (jaccard similarity)

In [12]:
query = """
MATCH (q:Query)-[r:SIMILAR_J]-(a:Article)
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,Similarity
0,C-1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,0.078200
1,C-1,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,0.068744
2,C-1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,0.056868
3,C-1,B-17,data/newsrelease_B-1-100_C-1-4/B-17.txt,None,None,0.054220
4,C-1,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,0.049231
5,C-1,B-71,data/newsrelease_B-1-100_C-1-4/B-71.txt,None,None,0.048316
6,C-1,B-27,data/newsrelease_B-1-100_C-1-4/B-27.txt,None,None,0.044348
7,C-1,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,0.043223
8,C-1,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,0.042806
9,C-1,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,0.040320

## node similarity (OVERLAP)

In [13]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='OVERLAP',
    writeRelationshipType='SIMILAR_O',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 40
Nodes compared: 4
Mean similarity: 0.09579094052314759

## evaluate (overlap similarity)

In [14]:
query = """
MATCH (q:Query)-[r:SIMILAR_O]-(a:Article)
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,Similarity
0,C-1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,0.154895
1,C-1,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,0.130541
2,C-1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,0.108577
3,C-1,B-17,data/newsrelease_B-1-100_C-1-4/B-17.txt,None,None,0.105455
4,C-1,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,0.101315
5,C-1,B-71,data/newsrelease_B-1-100_C-1-4/B-71.txt,None,None,0.093278
6,C-1,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,0.087920
7,C-1,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,0.087677
8,C-1,B-27,data/newsrelease_B-1-100_C-1-4/B-27.txt,None,None,0.087433
9,C-1,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,0.079883

## node similarity (COSINE)

In [15]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='COSINE',
    writeRelationshipType='SIMILAR_C',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 40
Nodes compared: 4
Mean similarity: 0.10873043537139893

## evaluate (cosine similarity)

In [16]:
query = """
MATCH (q:Query)-[r:SIMILAR_C]-(a:Article)
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,Similarity
0,C-1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,0.158508
1,C-1,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,0.156205
2,C-1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,0.132661
3,C-1,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,0.112778
4,C-1,B-17,data/newsrelease_B-1-100_C-1-4/B-17.txt,None,None,0.111239
5,C-1,B-27,data/newsrelease_B-1-100_C-1-4/B-27.txt,None,None,0.098992
6,C-1,B-71,data/newsrelease_B-1-100_C-1-4/B-71.txt,None,None,0.098955
7,C-1,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,0.093783
8,C-1,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,0.093086
9,C-1,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,0.091310

## ppr (personalized pagerank)

In [38]:
for idx, name in enumerate(list(QUERY_DICT.keys())):
    nodeid = gds.find_node_id(labels=["Query"], properties={"name": name})
    result = gds.pageRank.write(
        G,
        writeProperty="pr"+str(idx),
        maxIterations=20,
        dampingFactor=0.85,
        relationshipWeightProperty='weight',
        sourceNodes=[nodeid]
    )   
    print(f"Node properties written: {result['nodePropertiesWritten']}")
    print(f"Mean: {result['centralityDistribution']['mean']}")

Node properties written: 4987
Mean: 0.00019270640318475322
Node properties written: 4987
Mean: 0.00019270840314700646
Node properties written: 4987
Mean: 0.0001927220002574809
Node properties written: 4987
Mean: 0.00019268964915534142

## evaluate (ppr)

In [45]:
query_idx = 0 
query_one = list(QUERY_DICT.keys())[query_idx]
query = f"""
MATCH (q:Query)-[r:CORRELATES]-(a:Article) WHERE q.name = "{query_one}"
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, a.pr{query_idx} AS ppr
ORDER BY Query, ppr DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,ppr
0,C-1,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,0.008881
1,C-1,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,0.006600
2,C-1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,0.005606
3,C-1,B-25,data/newsrelease_B-1-100_C-1-4/B-25.txt,None,None,0.005334
4,C-1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,0.005170
5,C-1,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,0.004270
6,C-1,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,0.004199
7,C-1,B-27,data/newsrelease_B-1-100_C-1-4/B-27.txt,None,None,0.003493
8,C-1,B-6,data/newsrelease_B-1-100_C-1-4/B-6.txt,None,None,0.003471
9,C-1,B-4,data/newsrelease_B-1-100_C-1-4/B-4.txt,None,None,0.003430

## 1. node embedding

In [46]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0       [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
1       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
2       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
3       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
4       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
                              ...
4982    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4983    [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4984    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4985    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
4986    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
Name: embedding, Length: 4987, dtype: object

In [47]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.mutate(
    G,
    mutateProperty="embedding_node2vec",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 4987

## 2. kNN

In [48]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

# node2vec
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_node2vec"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_N",
    writeProperty="score",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Knn:   0%|          | 0/100 [00:00<?, ?%/s]

Knn:   0%|          | 0/100 [00:00<?, ?%/s]

Knn:   0%|          | 0/100 [00:00<?, ?%/s]

Relationships produced: 40
Nodes compared: 4987
Mean similarity: 0.9603008270263672

## evaluate (node embedding + knn)

In [49]:
# fastrp
query = """
MATCH (q:Query)-[r:SIMILAR_F]-(a:Article)
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,Similarity
0,C-1,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,0.777315
1,C-1,B-2,data/newsrelease_B-1-100_C-1-4/B-2.txt,None,None,0.764196
2,C-1,B-73,data/newsrelease_B-1-100_C-1-4/B-73.txt,None,None,0.758425
3,C-1,B-76,data/newsrelease_B-1-100_C-1-4/B-76.txt,None,None,0.755512
4,C-1,B-13,data/newsrelease_B-1-100_C-1-4/B-13.txt,None,None,0.751632
5,C-1,B-41,data/newsrelease_B-1-100_C-1-4/B-41.txt,None,None,0.742558
6,C-1,B-47,data/newsrelease_B-1-100_C-1-4/B-47.txt,None,None,0.718065
7,C-1,B-60,data/newsrelease_B-1-100_C-1-4/B-60.txt,None,None,0.680452
8,C-1,B-21,data/newsrelease_B-1-100_C-1-4/B-21.txt,None,None,0.660837
9,C-1,B-55,data/newsrelease_B-1-100_C-1-4/B-55.txt,None,None,0.641643

In [50]:
# node2vec
query = """
MATCH (q:Query)-[r:SIMILAR_N]-(a:Article)
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,Similarity
0,C-1,B-41,data/newsrelease_B-1-100_C-1-4/B-41.txt,None,None,0.757877
1,C-1,B-55,data/newsrelease_B-1-100_C-1-4/B-55.txt,None,None,0.754409
2,C-1,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,0.750103
3,C-1,B-67,data/newsrelease_B-1-100_C-1-4/B-67.txt,None,None,0.683639
4,C-1,B-21,data/newsrelease_B-1-100_C-1-4/B-21.txt,None,None,0.677427
5,C-1,B-100,data/newsrelease_B-1-100_C-1-4/B-100.txt,None,None,0.642515
6,C-1,B-64,data/newsrelease_B-1-100_C-1-4/B-64.txt,None,None,0.641768
7,C-1,B-38,data/newsrelease_B-1-100_C-1-4/B-38.txt,None,None,0.615861
8,C-1,B-59,data/newsrelease_B-1-100_C-1-4/B-59.txt,None,None,0.607541
9,C-2,B-70,data/newsrelease_B-1-100_C-1-4/B-70.txt,None,None,0.736177

In [51]:
# hashgnn
query = """
MATCH (q:Query)-[r:SIMILAR_H]-(a:Article)
RETURN q.name AS Query, a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Query, Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Query,Article,URL,Group,Group1,Similarity
0,C-1,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,1.000000
1,C-1,B-39,data/newsrelease_B-1-100_C-1-4/B-39.txt,None,None,1.000000
2,C-1,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,0.967707
3,C-1,B-94,data/newsrelease_B-1-100_C-1-4/B-94.txt,None,None,0.967707
4,C-1,B-66,data/newsrelease_B-1-100_C-1-4/B-66.txt,None,None,0.967707
5,C-1,B-99,data/newsrelease_B-1-100_C-1-4/B-99.txt,None,None,0.967707
6,C-1,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,0.967707
7,C-1,B-44,data/newsrelease_B-1-100_C-1-4/B-44.txt,None,None,0.967707
8,C-1,B-61,data/newsrelease_B-1-100_C-1-4/B-61.txt,None,None,0.967707
9,C-1,B-83,data/newsrelease_B-1-100_C-1-4/B-83.txt,None,None,0.967707

# (postprocessing) free up memory

In [52]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()