In [629]:
from graphdatascience import GraphDataScience
import sys

# neo4j desktop v5.11.0

In [630]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 10 # number of nouns extracted from each article
DATA = "WIKI_P100" # DNP or WIKI
URL = ""
TEST = ""
if DATA == "DNP":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
    TEST = "https://www.dnp.co.jp/news/detail/20169924_1587.html"
elif DATA == "WIKI_FP100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Zinedine_Zidane"
elif DATA == "WIKI_P100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_persons_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Hiromu_Nonaka"    
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [631]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [632]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [633]:
# query = f"""
# MERGE (a:Article {{url: "{TEST}"}})
# WITH a
# CALL apoc.load.html(a.url, {{
# title: "title",
# h2: "h2",
# body: "body p"
# }})
# YIELD value
# WITH a,
#     reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#     value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.title, a.body
# """
# gds.run_cypher(query)

In [634]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})
# CALL apoc.nlp.gcp.entities.stream(a, {{
# nodeProperty: 'body',
# key: '{KEY}'
# }})
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url nodes (article, person, ...)

In [635]:
query = f"""
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM '{URL}' AS row
  RETURN row",
  "MERGE (a:Article {{name: row.id, url: row.url, group: row.occupation}})
  WITH a
  CALL apoc.load.html(a.url, {{
    title: 'title',
    h2: 'h2',
    body: 'body p'
  }})
  YIELD value
  WITH a,
        reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
        value.title[0].text AS title
  SET a.body = body, a.title = title",
  {{batchSize: 5, parallel: true}}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       20    100          5                  100

## set phrase and salience properties

In [636]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100        100                  100

## create noun-url relationships

In [637]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [638]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})-[r:CONTAINS]-(n)
# RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
# """
# gds.run_cypher(query, {'nphrase': nphrase})

## input

In [639]:
if DATA == "DNP":
    # input = {
    #     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
    #     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
    #     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
    #     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
    # }
    # name = "C-1"
    # url = input[name]

    # query = """  
    # MERGE (i:Input {name: $name, url: $url})
    # WITH i
    # CALL apoc.load.html(i.url, {
    #    title: 'title',
    #    h2: "h2",
    #    body: 'body p'
    # })
    # YIELD value
    # WITH i,
    #      reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
    #      value.title[0].text AS title
    # SET i.body = body, i.title = title
    # """
    # gds.run_cypher(query, {"name": name, "url": url})

    name = "Test"
    # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    query = """  
    MERGE (i:Input {name: $name, url: "test.html", title: "For Test", 
            body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    """
    gds.run_cypher(query, {"name": name})
    
elif DATA == "WIKI_FP100":
    name = "Thierry Henry"
    query = """
    MERGE (i:Input {name: $name, url: "https://en.wikipedia.org/wiki/Thierry_Henry"})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name})

elif DATA == "WIKI_P100":
    name = "Thierry Henry"
    query = """
    MERGE (i:Input {name: $name, url: "https://en.wikipedia.org/wiki/Ai_Fukuhara"})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name})
    
# set phrase and salience properties (input)
query = f"""
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [640]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.group AS Group, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Common,Similarity
0,Haruka Kitaguchi,https://en.wikipedia.org/wiki/Haruka_Kitaguchi,athlete,"[Japanese, women]",0.270833
1,Eiji Okada,https://en.wikipedia.org/wiki/Eiji_Okada,actor,[Japanese],0.250000
2,Koichi Wakata,https://en.wikipedia.org/wiki/Koichi_Wakata,engineer,[Japanese],0.250000
3,Kōtarō Honda,https://en.wikipedia.org/wiki/Kotaro_Honda,engineer,[Japanese],0.250000
4,Kyōka Suzuki,https://en.wikipedia.org/wiki/Ky%C5%8Dka_Suzuki,actor,[Japanese],0.250000
5,Keiji Yamada,https://en.wikipedia.org/wiki/Keiji_Yamada,politician,[Japanese],0.250000
6,Shiho Yoshimura,https://en.wikipedia.org/wiki/Shiho_Yoshimura,athlete,[Japanese],0.250000
7,Katsuyuki Kondo,https://en.wikipedia.org/wiki/Katsuyuki_Kond%C...,athlete,[Japanese],0.250000
8,Keiichi Suzuki,https://en.wikipedia.org/wiki/Keiichi_Suzuki_(...,engineer,[Japanese],0.250000
9,Antonio Inoki,https://en.wikipedia.org/wiki/Antonio_Inoki,politician,[Japanese],0.250000

## create article-article relationships

In [641]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [642]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,Guts Ishimatsu,"[Yuji Suzuki, Ken Buchanan, Rodolfo Gato Gonzá...",Katsuya Kitamura,"[Katsuya Kitamura, Senshu University, New Japa...",Japanese,4,10,0.175000
1,Miki Ishii,"[Miki Ishii, article, Wikipedia, Japanese, Sum...",Katsuya Kitamura,"[Katsuya Kitamura, Senshu University, New Japa...",Japanese,4,10,0.175000
2,Akane Nakashima,"[goalball player, Akane Nakashima, Nakashima A...",Katsuya Kitamura,"[Katsuya Kitamura, Senshu University, New Japa...",Japanese,9,10,0.105556
3,Kyōka Suzuki,"[Kyōka Suzuki, Japanese, Hepburn, article, Wik...",Katsuya Kitamura,"[Katsuya Kitamura, Senshu University, New Japa...",Japanese,2,10,0.300000
4,Kōtarō Honda,"[Kotaro Honda, Japanese, type, Taiichi Ohno, H...",Katsuya Kitamura,"[Katsuya Kitamura, Senshu University, New Japa...",Japanese,2,10,0.300000
...,...,...,...,...,...,...,...,...
7563,Katsuya Kitamura,"[Katsuya Kitamura, Senshu University, New Japa...",Zenbee Mizoguchi,"[Zenbee Mizoguchi, governor, Japanese, Shimane...",Japanese,10,3,0.216667
7564,Yūji Takeda,"[Yuji Yaku, Winter Olympics., bobsledder, Japa...",Zenbee Mizoguchi,"[Zenbee Mizoguchi, governor, Japanese, Shimane...",Japanese,4,3,0.291667
7565,Yūji Takeda,"[Yuji Yaku, Winter Olympics., bobsledder, Japa...",Zenbee Mizoguchi,"[Zenbee Mizoguchi, governor, Japanese, Shimane...",Wikipedia,5,7,0.171429
7566,Takao Doi,"[Takao Doi, Japanese, missions, engineer, vete...",Zenbee Mizoguchi,"[Zenbee Mizoguchi, governor, Japanese, Shimane...",Japanese,2,3,0.416667
7567,Takao Doi,"[Takao Doi, Japanese, missions, engineer, vete...",Zenbee Mizoguchi,"[Zenbee Mizoguchi, governor, Japanese, Shimane...",University of Tokyo,9,8,0.118056

## evaluate (still naive by salience)

In [643]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, a.group AS Group, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,r.common,Similarity
0,Haruka Kitaguchi,https://en.wikipedia.org/wiki/Haruka_Kitaguchi,athlete,"[Japanese, women]",0.181038
1,Kaoru Hoshino,https://en.wikipedia.org/wiki/Kaoru_Hoshino,engineer,"[Japanese, team]",0.116488
2,Keiichi Suzuki,https://en.wikipedia.org/wiki/Keiichi_Suzuki_(...,engineer,[Japanese],0.095929
3,Kōtarō Honda,https://en.wikipedia.org/wiki/Kotaro_Honda,engineer,[Japanese],0.088938
4,Kuki Ryūichi,https://en.wikipedia.org/wiki/Kuki_Ry%C5%ABichi,politician,[Japanese],0.083825
5,Hiroaki Ōishi,https://en.wikipedia.org/wiki/Hiroaki_Ohishi,athlete,[Japanese],0.070690
6,Yūji Takeda,https://en.wikipedia.org/wiki/Yuji_Yaku,athlete,[Japanese],0.070690
7,Takao Doi,https://en.wikipedia.org/wiki/Takao_Doi,engineer,[Japanese],0.066815
8,Katsuyuki Kondo,https://en.wikipedia.org/wiki/Katsuyuki_Kond%C...,athlete,[Japanese],0.065804
9,Kenichi Yamamoto,https://en.wikipedia.org/wiki/Kenichi_Yamamoto...,athlete,[Japanese],0.059942

## project graph to memory

In [644]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")

The projection took 19 ms
Graph 'testgraph' node count: 804
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']

## node similarity (JACCARD)

In [645]:
result = gds.nodeSimilarity.filtered.write(
    G,
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="rank",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.03739521503448486

## evaluate (jaccard similarity)

In [646]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.group AS Group, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Similarity
0,Fumino Sugiyama,https://en.wikipedia.org/wiki/Fumino_Sugiyama,athlete,0.078431
1,Haruka Kitaguchi,https://en.wikipedia.org/wiki/Haruka_Kitaguchi,athlete,0.078431
2,Masayuki Uemura,https://en.wikipedia.org/wiki/Masayuki_Uemura,engineer,0.047619
3,Kaoru Hoshino,https://en.wikipedia.org/wiki/Kaoru_Hoshino,engineer,0.047619
4,Koichi Wakata,https://en.wikipedia.org/wiki/Koichi_Wakata,engineer,0.020833
5,Nanako Matsushima,https://en.wikipedia.org/wiki/Nanako_Matsushima,actor,0.020408
6,Miki Ishii,https://en.wikipedia.org/wiki/Miki_Ishii,athlete,0.020408
7,Tsutomu Yamaguchi,https://en.wikipedia.org/wiki/Tsutomu_Yamaguchi,engineer,0.020202
8,Yoshiko Tanaka,https://en.wikipedia.org/wiki/Yoshiko_Tanaka,actor,0.020000
9,Masaaki Kanda,https://en.wikipedia.org/wiki/Masaaki_Kanda,politician,0.020000

## 1. node embedding

In [647]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank",
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0      [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
1      [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
2      [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...
3      [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
4      [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...
                             ...
799    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, ...
800    [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, ...
801    [0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, ...
802    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, ...
803    [0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, ...
Name: embedding, Length: 804, dtype: object

In [648]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 804

## 2. kNN

In [649]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 804
Mean similarity: 0.9269550323486329

## evaluate (node embedding + knn)

In [650]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.group AS Group, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Similarity
0,Sekinari Nii,https://en.wikipedia.org/wiki/Sekinari_Nii,politician,0.806097
1,Masanao Ozaki,https://en.wikipedia.org/wiki/Masanao_Ozaki,politician,0.770171
2,Shoichiro Irimajiri,https://en.wikipedia.org/wiki/Shoichiro_Irimajiri,engineer,0.741080
3,Kuki Ryūichi,https://en.wikipedia.org/wiki/Kuki_Ry%C5%ABichi,politician,0.738577
4,Haruka Shimazaki,https://en.wikipedia.org/wiki/Haruka_Shimazaki,actor,0.724190
5,Zenbee Mizoguchi,https://en.wikipedia.org/wiki/Zenbee_Mizoguchi,politician,0.700433
6,Kaoru Hoshino,https://en.wikipedia.org/wiki/Kaoru_Hoshino,engineer,0.691107
7,Katsuya Kitamura,https://en.wikipedia.org/wiki/Katsuya_Kitamura,athlete,0.687687
8,Hideo Kobayashi,https://en.wikipedia.org/wiki/Hideo_Kobayashi_...,athlete,0.685692
9,Masami Nagasawa,https://en.wikipedia.org/wiki/Masami_Nagasawa,actor,0.667810

In [651]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.group AS Group, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Similarity
0,Keiichi Suzuki,https://en.wikipedia.org/wiki/Keiichi_Suzuki_(...,engineer,0.956435
1,Nanako Matsushima,https://en.wikipedia.org/wiki/Nanako_Matsushima,actor,0.956435
2,Hiroaki Ōishi,https://en.wikipedia.org/wiki/Hiroaki_Ohishi,athlete,0.956435
3,Masami Nagasawa,https://en.wikipedia.org/wiki/Masami_Nagasawa,actor,0.956435
4,Rie Urata,https://en.wikipedia.org/wiki/Rie_Urata,athlete,0.916667
5,Yojiro Terada,https://en.wikipedia.org/wiki/Yojiro_Terada,engineer,0.916667
6,Toranosuke Katayama,https://en.wikipedia.org/wiki/Toranosuke_Katayama,politician,0.908248
7,Yōhei Kōno,https://en.wikipedia.org/wiki/Y%C5%8Dhei_K%C5%...,politician,0.908248
8,Rina Kawaei,https://en.wikipedia.org/wiki/Rina_Kawaei,actor,0.908248
9,Hiroshi Fushida,https://en.wikipedia.org/wiki/Hiroshi_Fushida,engineer,0.885758

# (postprocessing) free up memory

In [652]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()