In [164]:
from graphdatascience import GraphDataScience
import json

# neo4j desktop (5.3.0, m1)

In [165]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

2.3.2

# Create Noun-Article (Star) Graph

In [166]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [167]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [168]:
# query = """
# MERGE (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# WITH a
# CALL apoc.load.html(a.url, {
#  title: "title",
#  h2: "h2",
#  main: "main"
# })
# YIELD value
# WITH a,
#      value.main[0].text AS body,
#      value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.body
# """
# gds.run_cypher(query)

In [169]:
# query = """
# MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# CALL apoc.nlp.gcp.entities.stream(a, {
#  nodeProperty: 'body',
#  key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
# })
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url article nodes

In [170]:
query = """
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv' AS row
   RETURN row",
  "MERGE (a:Article {name: row.id, url: row.url})
   WITH a
   CALL apoc.load.html(a.url, {
    title: 'title',
    h2: 'h2',
    main: 'main'
   })
   YIELD value
   WITH a,
        value.main[0].text AS body,
        value.title[0].text AS title
   SET a.body = body, a.title = title",
  {batchSize: 5, parallel: true}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        2     10          0                   10

## set phrase and salience properties

In [171]:
query = """
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {
     nodeProperty: 'body',
     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
   })
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {batchMode: "BATCH_SINGLE", batchSize: 10})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        1     10         10                   10

## create noun-article relationships

In [172]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..5] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
)
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## test

In [173]:
query = """
MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169882_1587.html"})-[r:CONTAINS]-(n)
RETURN a.processed, a.phrase[0..5], a.salience[0..5], collect(r.rank), collect(n.name)
"""
gds.run_cypher(query)

,a.processed,a.phrase[0..5],a.salience[0..5],collect(r.rank),collect(n.name)
0,True,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]","[0.11435139, 0.081231624, 0.07722434, 0.075715...","[5, 3, 1, 4, 2]","[東京都, 市谷の杜, DNP, 保全, 自然共生サイト]"

## input

In [174]:
# input = {
#     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
#     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
#     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
#     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
# }
# name = "C-1"
# url = input[name]

# query = """  
# MERGE (i:Input {name: $name, url: $url})
# WITH i
# CALL apoc.load.html(i.url, {
#    title: 'title',
#    body: 'body'
# })
# YIELD value
# WITH i,
#      value.body[0].text AS body,
#      value.title[0].text AS title
# SET i.body = body, i.title = title
# """
# gds.run_cypher(query, {"name": name, "url": url})

name = "Test"
# 以下の単語を使って200文字の作文を作ってください：市谷の杜, DNP, 保全, 自然共生サイト, 東京都 (from B-10)
query = """  
MERGE (i:Input {name: $name, url: "test.html", title: "For Test", body: "東京都に位置する市谷の杜は、DNP（大日本印刷株式会社）が保全に尽力している自然共生サイトの一つです。この場所は、都心にありながら自然との調和を大切にし、美しい環境を提供しています。市谷の杜は、多くの緑と自然の美しさで知られ、東京都内でのリフレッシュやリラックスに最適な場所です。DNPの保全活動は、この特別な場所の自然の美しさを守り、将来の世代に受け継ぐことを目指しています。市谷の杜は、都市生活と自然の共生を象徴し、多くの人々に癒しと平和を提供しています。"})
"""
gds.run_cypher(query, {"name": name})

Empty DataFrame
Columns: []
Index: []

## set phrase and salience properties (input)

In [175]:
query = """
MATCH (i:Input {name: $name})
CALL apoc.nlp.gcp.entities.stream(i, {
 nodeProperty: 'body',
 key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query, {"name": name})

Empty DataFrame
Columns: []
Index: []

## create noun-article relationships (input)

In [176]:
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..5] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
)
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## evaluate

In [177]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article      Common  Similarity
0    B-10  [東京都, DNP]    0.383333
1     B-7       [DNP]    0.333333
2     B-9       [DNP]    0.333333
3     B-3       [DNP]    0.333333
4     B-6       [DNP]    0.333333
5     B-1       [DNP]    0.333333
6     B-2       [DNP]    0.166667
7     B-8       [DNP]    0.166667
8     B-4       [DNP]    0.083333

# (postprocessing) free up memory

In [163]:
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()