In [582]:
from graphdatascience import GraphDataScience

# neo4j desktop v5.11.0

In [583]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
URL = "DNP" # DNP or WIKI
nphrase = 5 # number of nouns extracted from each article

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [584]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [585]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [586]:
# if URL == "DNP": 
#     query = """
#     MERGE (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
#     WITH a
#     CALL apoc.load.html(a.url, {
#     title: "title",
#     h2: "h2",
#     body: "body p"
#     })
#     YIELD value
#     WITH a,
#         reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#         value.title[0].text AS title
#     SET a.body = body, a.title = title
#     RETURN a.title, a.body
#     """
#     gds.run_cypher(query)

#     query = """
#     MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
#     CALL apoc.nlp.gcp.entities.stream(a, {
#     nodeProperty: 'body',
#     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
#     })
#     YIELD node, value
#     WITH node, value
#     UNWIND value.entities AS entity
#     RETURN entity
#     LIMIT 5;
#     """
#     gds.run_cypher(query)

# elif URL == "WIKI":
#     query = """
#     MERGE (a:Article {url: "https://en.wikipedia.org/wiki/Zinedine_Zidane"})
#     WITH a
#     CALL apoc.load.html(a.url, {
#     title: "title",
#     h2: "h2",
#     body: "body p"
#     })
#     YIELD value
#     WITH a,
#         reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#         value.title[0].text AS title
#     SET a.body = body, a.title = title
#     RETURN a.title, a.body
#     """
#     gds.run_cypher(query)

#     query = """
#     MATCH (a:Article {url: "https://en.wikipedia.org/wiki/Zinedine_Zidane"})
#     CALL apoc.nlp.gcp.entities.stream(a, {
#     nodeProperty: 'body',
#     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
#     })
#     YIELD node, value
#     WITH node, value
#     UNWIND value.entities AS entity
#     RETURN entity, entity['name']
#     LIMIT 5;
#     """
#     gds.run_cypher(query)

## create url nodes (article, player, ...)

In [587]:
if URL == "DNP":
  query = """
  CALL apoc.periodic.iterate(
    "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv' AS row
    RETURN row",
    "MERGE (a:Article {name: row.id, url: row.url})
    WITH a
    CALL apoc.load.html(a.url, {
      title: 'title',
      h2: 'h2',
      body: 'main'
    })
    YIELD value
    WITH a,
         reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
         value.title[0].text AS title
    SET a.body = body, a.title = title",
    {batchSize: 5, parallel: true}
  )
  YIELD batches, total, timeTaken, committedOperations
  RETURN batches, total, timeTaken, committedOperations
  """
  gds.run_cypher(query)
elif URL == "WIKI":
  query = """
  CALL apoc.periodic.iterate(
    "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv' AS row
    RETURN row",
    "MERGE (a:Article {name: row.id, url: row.url})
    WITH a
    CALL apoc.load.html(a.url, {
      title: 'title',
      h2: 'h2',
      body: 'body p'
    })
    YIELD value
    WITH a,
         reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
         value.title[0].text AS title
    SET a.body = body, a.title = title",
    {batchSize: 5, parallel: true}
  )
  YIELD batches, total, timeTaken, committedOperations
  RETURN batches, total, timeTaken, committedOperations
  """
  gds.run_cypher(query)

## set phrase and salience properties

In [588]:
query = """
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {
     nodeProperty: 'body',
     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
   })
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {batchMode: "BATCH_SINGLE", batchSize: 10})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        1     10          9                   10

## create noun-url relationships

In [589]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [590]:
if URL == "DNP":
    query = """
    MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169882_1587.html"})-[r:CONTAINS]-(n)
    RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
    """
    gds.run_cypher(query, {'nphrase': nphrase})
elif URL == "WIKI":
    query = """
    MATCH (a:Article {url: "https://en.wikipedia.org/wiki/Zinedine_Zidane"})-[r:CONTAINS]-(n)
    RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
    """
    gds.run_cypher(query, {'nphrase': nphrase})

## input

In [591]:
if URL == "DNP":
    # input = {
    #     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
    #     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
    #     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
    #     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
    # }
    # name = "C-1"
    # url = input[name]

    # query = """  
    # MERGE (i:Input {name: $name, url: $url})
    # WITH i
    # CALL apoc.load.html(i.url, {
    #    title: 'title',
    #    h2: "h2",
    #    body: 'body p'
    # })
    # YIELD value
    # WITH i,
    #      reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
    #      value.title[0].text AS title
    # SET i.body = body, i.title = title
    # """
    # gds.run_cypher(query, {"name": name, "url": url})

    name = "Test"
    # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    query = """  
    MERGE (i:Input {name: $name, url: "test.html", title: "For Test", 
            body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    """
    gds.run_cypher(query, {"name": name})
    
elif URL == "WIKI":
    name = "Thierry Henry"
    query = """
    MERGE (i:Input {name: $name, url: "https://en.wikipedia.org/wiki/Thierry_Henry"})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name})
    
# set phrase and salience properties (input)
query = """
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {
 nodeProperty: 'body',
 key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [592]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Common,Similarity
0,B-10,https://www.dnp.co.jp/news/detail/20169882_158...,"[DNP, 東京都]",0.550
1,B-1,https://www.dnp.co.jp/news/detail/20169924_158...,[DNP],0.500
2,B-3,https://www.dnp.co.jp/news/detail/20169918_158...,[DNP],0.500
3,B-9,https://www.dnp.co.jp/news/detail/20169860_158...,[DNP],0.500
4,B-6,https://www.dnp.co.jp/news/detail/20169899_158...,[DNP],0.500
5,B-7,https://www.dnp.co.jp/news/detail/20169892_158...,[DNP],0.500
6,B-2,https://www.dnp.co.jp/news/detail/20169889_158...,[DNP],0.250
7,B-8,https://www.dnp.co.jp/news/detail/20169884_158...,[DNP],0.250
8,B-4,https://www.dnp.co.jp/news/detail/20169887_158...,[DNP],0.125

## create article-article relationships

In [593]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [594]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,B-1,"[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]",DNP,1,1,1.000000
1,B-9,"[DNP, Bqey, サービス, 社用車, 車両]",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]",DNP,1,1,1.000000
2,B-4,"[サイバー攻撃, 企業, 日本, DNP, 演習]",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]",DNP,4,1,0.625000
3,B-2,"[生成, DNP, 生活者, サービス, 動画]",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]",DNP,2,1,0.750000
4,B-7,"[DNP, 社員, 食堂, 認証製品, 第1回フェアトレード・ジャパン アワード]",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]",DNP,1,1,1.000000
...,...,...,...,...,...,...,...,...
71,B-3,"[DNP, Tokyo Future Tour, 主催者プログラム, Japan Mobil...",B-10,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
72,B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]",B-10,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
73,B-5,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...",B-10,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",市谷の杜,2,3,0.416667
74,B-7,"[DNP, 社員, 食堂, 認証製品, 第1回フェアトレード・ジャパン アワード]",B-10,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
75,B-10,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",B-5,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...",市谷の杜,3,2,0.416667

## evaluate (still naive by salience)

In [595]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,r.common,Similarity
0,B-10,https://www.dnp.co.jp/news/detail/20169882_158...,"[DNP, 東京都]",0.423941
1,B-3,https://www.dnp.co.jp/news/detail/20169918_158...,[DNP],0.379044
2,B-1,https://www.dnp.co.jp/news/detail/20169924_158...,[DNP],0.335126
3,B-7,https://www.dnp.co.jp/news/detail/20169892_158...,[DNP],0.318781
4,B-6,https://www.dnp.co.jp/news/detail/20169899_158...,[DNP],0.313231
5,B-8,https://www.dnp.co.jp/news/detail/20169884_158...,[DNP],0.312576
6,B-9,https://www.dnp.co.jp/news/detail/20169860_158...,[DNP],0.297496
7,B-2,https://www.dnp.co.jp/news/detail/20169889_158...,[DNP],0.283774
8,B-4,https://www.dnp.co.jp/news/detail/20169887_158...,[DNP],0.253096

## project graph to memory

In [596]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")

The projection took 8 ms
Graph 'testgraph' node count: 54
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']

## node similarity (JACCARD)

In [597]:
result = gds.nodeSimilarity.filtered.write(
    G,
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="rank",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 9
Nodes compared: 1
Mean similarity: 0.06518883175320095

## evaluate (jaccard similarity)

In [598]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                                URL  Similarity
0    B-10  https://www.dnp.co.jp/news/detail/20169882_158...    0.200000
1     B-2  https://www.dnp.co.jp/news/detail/20169889_158...    0.071429
2     B-8  https://www.dnp.co.jp/news/detail/20169884_158...    0.071429
3     B-4  https://www.dnp.co.jp/news/detail/20169887_158...    0.071429
4     B-6  https://www.dnp.co.jp/news/detail/20169899_158...    0.034483
5     B-1  https://www.dnp.co.jp/news/detail/20169924_158...    0.034483
6     B-7  https://www.dnp.co.jp/news/detail/20169892_158...    0.034483
7     B-3  https://www.dnp.co.jp/news/detail/20169918_158...    0.034483
8     B-9  https://www.dnp.co.jp/news/detail/20169860_158...    0.034483

## 1. node embedding

In [599]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank",
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0     [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
1     [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
2     [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...
3     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
4     [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
5     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
6     [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
7     [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
8     [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
9     [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...
10    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
11    [0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...
12    [0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
13    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
14    [0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, ...
15    [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
16    [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...
17    [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
18    [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
19    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...
20    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...
21    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...
22    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...
23    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
24    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
25    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
26    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
27    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
28    [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
29    [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
30    [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
31    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
32    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
33    [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
34    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
35    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
36    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
37    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
38    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
39    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
40    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
41    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
42    [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
43    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
44    [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
45    [0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
46    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
47    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
48    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...
49    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...
50    [1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
51    [1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
52    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
53    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
Name: embedding, dtype: object

In [600]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 54

## 2. kNN

In [601]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 54
Mean similarity: 0.6729080200195312

## evaluate (node embedding + knn)

In [602]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                                URL  Similarity
0    B-10  https://www.dnp.co.jp/news/detail/20169882_158...    0.791400
1     B-4  https://www.dnp.co.jp/news/detail/20169887_158...    0.729533
2     B-9  https://www.dnp.co.jp/news/detail/20169860_158...    0.703170
3     B-2  https://www.dnp.co.jp/news/detail/20169889_158...    0.653111
4     B-7  https://www.dnp.co.jp/news/detail/20169892_158...    0.635397
5     B-8  https://www.dnp.co.jp/news/detail/20169884_158...    0.623053
6     B-5  https://www.dnp.co.jp/news/detail/20169888_158...    0.539114
7     B-6  https://www.dnp.co.jp/news/detail/20169899_158...    0.519060
8     B-3  https://www.dnp.co.jp/news/detail/20169918_158...    0.510994
9     B-1  https://www.dnp.co.jp/news/detail/20169924_158...    0.387510

In [603]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                                URL  Similarity
0     B-9  https://www.dnp.co.jp/news/detail/20169860_158...    0.800000
1    B-10  https://www.dnp.co.jp/news/detail/20169882_158...    0.800000
2     B-1  https://www.dnp.co.jp/news/detail/20169924_158...    0.700000
3     B-2  https://www.dnp.co.jp/news/detail/20169889_158...    0.700000
4     B-8  https://www.dnp.co.jp/news/detail/20169884_158...    0.700000
5     B-3  https://www.dnp.co.jp/news/detail/20169918_158...    0.700000
6     B-4  https://www.dnp.co.jp/news/detail/20169887_158...    0.629099
7     B-6  https://www.dnp.co.jp/news/detail/20169899_158...    0.600000
8     B-7  https://www.dnp.co.jp/news/detail/20169892_158...    0.600000
9     B-5  https://www.dnp.co.jp/news/detail/20169888_158...    0.500000

# (postprocessing) free up memory

In [604]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()