In [40]:
from graphdatascience import GraphDataScience
import json

# neo4j desktop (5.3.0, m1)

In [41]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

2.5.4

# Create Noun-Article (Star) Graph

In [42]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [43]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [44]:
# query = """
# MERGE (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# WITH a
# CALL apoc.load.html(a.url, {
#  title: "title",
#  h2: "h2",
#  main: "main"
# })
# YIELD value
# WITH a,
#      value.main[0].text AS body,
#      value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.body
# """
# gds.run_cypher(query)

In [45]:
# query = """
# MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# CALL apoc.nlp.gcp.entities.stream(a, {
#  nodeProperty: 'body',
#  key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
# })
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url article nodes

In [46]:
query = """
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv' AS row
   RETURN row",
  "MERGE (a:Article {name: row.id, url: row.url})
   WITH a
   CALL apoc.load.html(a.url, {
    title: 'title',
    h2: 'h2',
    main: 'main'
   })
   YIELD value
   WITH a,
        value.main[0].text AS body,
        value.title[0].text AS title
   SET a.body = body, a.title = title",
  {batchSize: 5, parallel: true}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        2     10          5                   10

## set phrase and salience properties

In [47]:
query = """
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {
     nodeProperty: 'body',
     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
   })
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {batchMode: "BATCH_SINGLE", batchSize: 10})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        1     10         11                   10

## create noun-article relationships

In [48]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..5] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
)
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## test

In [49]:
query = """
MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169882_1587.html"})-[r:CONTAINS]-(n)
RETURN a.processed, a.phrase[0..5], a.salience[0..5], collect(r.rank), collect(r.score), collect(n.name)
"""
gds.run_cypher(query)

,a.processed,a.phrase[0..5],a.salience[0..5],collect(r.rank),collect(r.score),collect(n.name)
0,True,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]","[0.11435139, 0.081231624, 0.07722434, 0.075715...","[3, 5, 4, 1, 2]","[0.07722434, 0.051425584, 0.07571559, 0.114351...","[市谷の杜, 東京都, 保全, DNP, 自然共生サイト]"

## input

In [50]:
# input = {
#     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
#     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
#     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
#     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
# }
# name = "C-1"
# url = input[name]

# query = """  
# MERGE (i:Input {name: $name, url: $url})
# WITH i
# CALL apoc.load.html(i.url, {
#    title: 'title',
#    body: 'body'
# })
# YIELD value
# WITH i,
#      value.body[0].text AS body,
#      value.title[0].text AS title
# SET i.body = body, i.title = title
# """
# gds.run_cypher(query, {"name": name, "url": url})

name = "Test"
# 以下の単語を使って200文字の作文を作ってください：市谷の杜, DNP, 保全, 自然共生サイト, 東京都 (from B-10)
query = """  
MERGE (i:Input {name: $name, url: "test.html", title: "For Test", body: "東京都に位置する市谷の杜は、DNP（大日本印刷株式会社）が保全に尽力している自然共生サイトの一つです。この場所は、都心にありながら自然との調和を大切にし、美しい環境を提供しています。市谷の杜は、多くの緑と自然の美しさで知られ、東京都内でのリフレッシュやリラックスに最適な場所です。DNPの保全活動は、この特別な場所の自然の美しさを守り、将来の世代に受け継ぐことを目指しています。市谷の杜は、都市生活と自然の共生を象徴し、多くの人々に癒しと平和を提供しています。"})
"""
gds.run_cypher(query, {"name": name})

Empty DataFrame
Columns: []
Index: []

## set phrase and salience properties (input)

In [51]:
query = """
MATCH (i:Input {name: $name})
CALL apoc.nlp.gcp.entities.stream(i, {
 nodeProperty: 'body',
 key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query, {"name": name})

Empty DataFrame
Columns: []
Index: []

## create noun-article relationships (input)

In [52]:
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..5] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
)
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## evaluate

In [53]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article      Common  Similarity
0    B-10  [DNP, 東京都]    0.383333
1     B-9       [DNP]    0.333333
2     B-3       [DNP]    0.333333
3     B-7       [DNP]    0.333333
4     B-6       [DNP]    0.333333
5     B-1       [DNP]    0.333333
6     B-8       [DNP]    0.166667
7     B-2       [DNP]    0.166667
8     B-4       [DNP]    0.083333

## create article-article relationships

In [54]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..5] WHERE x IN a2.phrase[0..5])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..5] WHERE x IN a2.phrase[0..5]]
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## create article-article relationships (input)

In [55]:
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..5] WHERE x IN a.phrase[0..5])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..5] WHERE x IN a.phrase[0..5]]
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## test

In [56]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.phrase[0..5], a2.phrase[0..5], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query)

,a1.phrase[0..5],a2.phrase[0..5],commonValue,rank1,rank2,Similarity
0,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,1,1,1.000000
1,"[DNP, Bqey, サービス, 社用車, 車両]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,1,1,1.000000
2,"[サイバー攻撃, 企業, 日本, DNP, 演習]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,4,1,0.625000
3,"[ドローン, DNP, 実証実験, 兵庫県, 株式会社DNPグラフィカ]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,2,1,0.750000
4,"[DNP, Tokyo Future Tour, 主催者プログラム, Japan Mobil...","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,1,1,1.000000
...,...,...,...,...,...,...
71,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
72,"[DNP, 社員, 食堂, 認証製品, 第1回フェアトレード・ジャパン アワード]","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
73,"[サイバー攻撃, 企業, 日本, DNP, 演習]","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,4,1,0.625000
74,"[DNP, Tokyo Future Tour, 主催者プログラム, Japan Mobil...","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
75,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",市谷の杜,2,3,0.416667

## evaluate

In [57]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, r.common, Similarity 
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article    r.common  Similarity
0    B-10  [DNP, 東京都]    0.390133
1     B-3       [DNP]    0.303329
2     B-1       [DNP]    0.259411
3     B-7       [DNP]    0.243066
4     B-6       [DNP]    0.237516
5     B-8       [DNP]    0.236861
6     B-9       [DNP]    0.221781
7     B-2       [DNP]    0.208059
8     B-4       [DNP]    0.177382

## project graph to memory

In [58]:
node_projection = ["Input", "Article", "Noun"]
relationship_projection = {"CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score"]}}
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")

The projection took 51 ms
Graph 'testgraph' node count: 54
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']

# (postprocessing) free up memory

In [59]:
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()