In [246]:
from graphdatascience import GraphDataScience
import json

# neo4j desktop v5.11.0

In [247]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

2.5.4

# Create Noun-Article (Star) Graph

In [248]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [249]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [250]:
# query = """
# MERGE (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# WITH a
# CALL apoc.load.html(a.url, {
#  title: "title",
#  h2: "h2",
#  main: "main"
# })
# YIELD value
# WITH a,
#      value.main[0].text AS body,
#      value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.body
# """
# gds.run_cypher(query)

In [251]:
# query = """
# MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# CALL apoc.nlp.gcp.entities.stream(a, {
#  nodeProperty: 'body',
#  key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
# })
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url article nodes

In [252]:
query = """
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv' AS row
   RETURN row",
  "MERGE (a:Article {name: row.id, url: row.url})
   WITH a
   CALL apoc.load.html(a.url, {
    title: 'title',
    h2: 'h2',
    main: 'main'
   })
   YIELD value
   WITH a,
        value.main[0].text AS body,
        value.title[0].text AS title
   SET a.body = body, a.title = title",
  {batchSize: 5, parallel: true}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        2     10          0                   10

## set phrase and salience properties

In [253]:
query = """
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {
     nodeProperty: 'body',
     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
   })
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {batchMode: "BATCH_SINGLE", batchSize: 10})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        1     10         10                   10

## create noun-article relationships

In [254]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..5] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
)
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## test

In [255]:
query = """
MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169882_1587.html"})-[r:CONTAINS]-(n)
RETURN a.processed, a.phrase[0..5], a.salience[0..5], collect(r.rank), collect(r.score), collect(n.name)
"""
gds.run_cypher(query)

,a.processed,a.phrase[0..5],a.salience[0..5],collect(r.rank),collect(r.score),collect(n.name)
0,True,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]","[0.11435139, 0.081231624, 0.07722434, 0.075715...","[3, 5, 4, 1, 2]","[0.07722434, 0.051425584, 0.07571559, 0.114351...","[市谷の杜, 東京都, 保全, DNP, 自然共生サイト]"

## input

In [256]:
# input = {
#     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
#     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
#     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
#     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
# }
# name = "C-1"
# url = input[name]

# query = """  
# MERGE (i:Input {name: $name, url: $url})
# WITH i
# CALL apoc.load.html(i.url, {
#    title: 'title',
#    body: 'body'
# })
# YIELD value
# WITH i,
#      value.body[0].text AS body,
#      value.title[0].text AS title
# SET i.body = body, i.title = title
# """
# gds.run_cypher(query, {"name": name, "url": url})

name = "Test"
# 以下の単語を使って200文字の作文を作ってください：市谷の杜, DNP, 保全, 自然共生サイト, 東京都 (from B-10)
query = """  
MERGE (i:Input {name: $name, url: "test.html", title: "For Test", body: "東京都に位置する市谷の杜は、DNP（大日本印刷株式会社）が保全に尽力している自然共生サイトの一つです。この場所は、都心にありながら自然との調和を大切にし、美しい環境を提供しています。市谷の杜は、多くの緑と自然の美しさで知られ、東京都内でのリフレッシュやリラックスに最適な場所です。DNPの保全活動は、この特別な場所の自然の美しさを守り、将来の世代に受け継ぐことを目指しています。市谷の杜は、都市生活と自然の共生を象徴し、多くの人々に癒しと平和を提供しています。"})
"""
gds.run_cypher(query, {"name": name})

Empty DataFrame
Columns: []
Index: []

## set phrase and salience properties (input)

In [257]:
query = """
MATCH (i:Input {name: $name})
CALL apoc.nlp.gcp.entities.stream(i, {
 nodeProperty: 'body',
 key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query, {"name": name})

Empty DataFrame
Columns: []
Index: []

## create noun-article relationships (input)

In [258]:
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..5] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
)
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## evaluate

In [259]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article      Common  Similarity
0    B-10  [DNP, 東京都]    0.383333
1     B-9       [DNP]    0.333333
2     B-3       [DNP]    0.333333
3     B-7       [DNP]    0.333333
4     B-6       [DNP]    0.333333
5     B-1       [DNP]    0.333333
6     B-8       [DNP]    0.166667
7     B-2       [DNP]    0.166667
8     B-4       [DNP]    0.083333

## create article-article relationships

In [260]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..5] WHERE x IN a2.phrase[0..5])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..5] WHERE x IN a2.phrase[0..5]]
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## create article-article relationships (input)

In [261]:
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..5] WHERE x IN a.phrase[0..5])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..5] WHERE x IN a.phrase[0..5]]
"""
gds.run_cypher(query)

Empty DataFrame
Columns: []
Index: []

## test

In [262]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.phrase[0..5], a2.phrase[0..5], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query)

,a1.phrase[0..5],a2.phrase[0..5],commonValue,rank1,rank2,Similarity
0,"[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,1,1,1.000000
1,"[サイバー攻撃, 企業, 日本, DNP, 演習]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,4,1,0.625000
2,"[DNP, Bqey, サービス, 社用車, 車両]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,1,1,1.000000
3,"[ドローン, DNP, 実証実験, 兵庫県, 株式会社DNPグラフィカ]","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,2,1,0.750000
4,"[DNP, Tokyo Future Tour, 主催者プログラム, Japan Mobil...","[DNP, トーハン桶川センター, 読者, トーハン, 書籍製造]",DNP,1,1,1.000000
...,...,...,...,...,...,...
71,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検]","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
72,"[DNP, 社員, 食堂, 認証製品, 第1回フェアトレード・ジャパン アワード]","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
73,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",市谷の杜,2,3,0.416667
74,"[DNP, Tokyo Future Tour, 主催者プログラム, Japan Mobil...","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000
75,"[DNP, Bqey, サービス, 社用車, 車両]","[DNP, 自然共生サイト, 市谷の杜, 保全, 東京都]",DNP,1,1,1.000000

## evaluate

In [263]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, r.common, Similarity 
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article    r.common  Similarity
0    B-10  [DNP, 東京都]    0.390133
1     B-3       [DNP]    0.303329
2     B-1       [DNP]    0.259411
3     B-7       [DNP]    0.243066
4     B-6       [DNP]    0.237516
5     B-8       [DNP]    0.236861
6     B-9       [DNP]    0.221781
7     B-2       [DNP]    0.208059
8     B-4       [DNP]    0.177382

## project graph to memory

In [264]:
node_projection = ["Input", "Article", "Noun"]
relationship_projection = {"CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score"]}}
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")

The projection took 6 ms
Graph 'testgraph' node count: 54
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']

## fastrp embedding

In [265]:
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank",
    iterationWeights=[1, 1, 1],
)
print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0     [0.37582167983055115, 0.15951070189476013, 0.0...
1     [0.5726795196533203, 0.5386263132095337, -0.69...
2     [-1.0294896364212036, -0.38753437995910645, -0...
3     [-1.0578210353851318, 0.47846007347106934, -0....
4     [-0.14383047819137573, -0.39948445558547974, 0...
5     [0.023260056972503662, 0.7987784743309021, 0.7...
6     [-0.1907520592212677, -0.34746068716049194, 0....
7     [-0.2734028100967407, -0.9984447956085205, 0.4...
8     [-0.707689642906189, -0.5863922834396362, -0.3...
9     [-1.2237939834594727, -0.8258402347564697, -0....
10    [-0.38887840509414673, -0.33519837260246277, 0...
11    [0.2038588672876358, -0.404960572719574, 0.012...
12    [0.203858882188797, -0.4049605131149292, 0.012...
13    [0.2038588672876358, -0.404960572719574, 0.012...
14    [0.203858882188797, -0.404960572719574, 0.0129...
15    [1.042919635772705, 0.27558159828186035, -1.08...
16    [1.042919635772705, 0.27558156847953796, -1.08...
17    [1.042919635772705, 0.27558159828186035, -1.08...
18    [1.042919635772705, 0.27558159828186035, -1.08...
19    [-1.1089028120040894, -0.1899895966053009, -0....
20    [-1.108902931213379, -0.1899895966053009, -0.1...
21    [-1.1089028120040894, -0.1899895966053009, -0....
22    [-1.1089028120040894, -0.1899895966053009, -0....
23    [-0.5734413862228394, 0.2965509593486786, -1.1...
24    [-0.5734413266181946, 0.296550989151001, -1.13...
25    [-0.958023726940155, 0.037013716995716095, -0....
26    [-0.5734413266181946, 0.2965509295463562, -1.1...
27    [-0.04531431943178177, -0.19041740894317627, 1...
28    [-0.04531432315707207, -0.19041740894317627, 1...
29    [-0.04531431943178177, -0.19041740894317627, 1...
30    [-0.04531431943178177, -0.19041740894317627, 1...
31    [0.5169915556907654, 0.40971431136131287, 0.87...
32    [0.5169914960861206, 0.40971434116363525, 0.87...
33    [0.5169915556907654, 0.40971431136131287, 0.87...
34    [0.5169915556907654, 0.40971431136131287, 0.87...
35    [-0.05063697323203087, -0.1696816086769104, 0....
36    [-0.05063697323203087, -0.1696816086769104, 0....
37    [-0.05063696950674057, -0.1696816086769104, 0....
38    [-0.05063696950674057, -0.1696815937757492, 0....
39    [-0.10992994904518127, -0.49468478560447693, 0...
40    [-0.4843326807022095, -0.4827236235141754, 0.0...
41    [-0.10992994159460068, -0.49468475580215454, 0...
42    [-0.10992994904518127, -0.49468478560447693, 0...
43    [-0.10992993414402008, -0.49468475580215454, 0...
44    [-1.0486637353897095, -0.32489195466041565, -0...
45    [-1.0486637353897095, -0.32489195466041565, -0...
46    [-1.0486637353897095, -0.32489192485809326, -0...
47    [-0.6342197060585022, -0.3745920658111572, -0....
48    [-0.6342197060585022, -0.3745920658111572, -0....
49    [-0.5112746357917786, -0.486713171005249, 0.39...
50    [-0.5684205293655396, -0.9586076736450195, 0.3...
51    [-0.20936957001686096, -0.48586106300354004, 0...
52    [-0.20936957001686096, -0.48586106300354004, 0...
53    [-0.20936957001686096, -0.48586106300354004, 0...
Name: embedding, dtype: object

In [266]:
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank",
    iterationWeights=[1, 1, 1],
)
print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 54

## kNN

In [267]:
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 54
Mean similarity: 0.6075052261352539

## evaluate

In [268]:
query = """
MATCH (i:Input)-[r:SIMILAR]-(a:Article)
RETURN a.name AS Article, r.score AS Similarity 
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article  Similarity
0    B-10    0.792418
1     B-4    0.688594
2     B-5    0.680716
3     B-9    0.638285
4     B-8    0.634345
5     B-7    0.597428
6     B-3    0.593606
7     B-1    0.590548
8     B-2    0.479832
9     B-6    0.379283

# (postprocessing) free up memory

In [269]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()