In [22]:
from graphdatascience import GraphDataScience
import sys
import re

# neo4j desktop v5.11.0

In [23]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 100 # number of nouns extracted from each article
DATA = "DNP" # DNP or WIKI
MODE = "TXT" # TXT or URL (currently txt is used for dnp data)
URL = "" # input data
TEST = "" # test data
name = "" # name of query data
url_input = "" # query data
if DATA == "DNP":
    if MODE == "TXT":
        URL = "data/newsrelease_B-1-100_C-1-4/"
        TEST = "B-1.txt"
        name = "C-1"
        url_input = URL + name + ".txt"
    elif MODE == "URL":
        URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
        TEST = "https://www.dnp.co.jp/news/detail/20169924_1587.html"
        input = {
        "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
        "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
        "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
        "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
        }
        name = "C-1"
        url_input = input[name]
elif DATA == "WIKI_FP100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Zinedine_Zidane"
    name = "Thierry Henry"
    url_input = "https://en.wikipedia.org/wiki/Thierry_Henry"
elif DATA == "WIKI_P100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_persons_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Barack_Obama"    
    name = "Joe Biden"
    url_input = "https://en.wikipedia.org/wiki/Joe_Biden"
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [24]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [25]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [26]:
# query = f"""
# MERGE (a:Article {{url: "{TEST}"}})
# WITH a
# CALL apoc.load.html(a.url, {{
# title: "title",
# h2: "h2",
# body: "body p"
# }})
# YIELD value
# WITH a,
#     reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#     value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.title, a.body
# """
# gds.run_cypher(query)

In [27]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})
# CALL apoc.nlp.gcp.entities.stream(a, {{
# nodeProperty: 'body',
# key: '{KEY}'
# }})
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url nodes (article, person, ...)

In [28]:
if DATA == "DNP" and MODE == "TXT":
  for idx in range(1, 101):
    node = "B-" + str(idx)
    file = URL + node + ".txt"
    content = ""
    with open(file, 'r') as f:
      content = f.read()
      content = re.sub('\n+', ' ', content)
    query = f"""
    MERGE (a:Article {{ name: "{node}", url: "{file}", body: "{content}" }})
    """
    gds.run_cypher(query)
else:
  query = f"""
  CALL apoc.periodic.iterate(
    "LOAD CSV WITH HEADERS FROM '{URL}' AS row
    RETURN row",
    "MERGE (a:Article {{name: row.id, url: row.url}})
    SET a.grp = CASE WHEN 'occupation' IN keys(row) THEN row.occupation ELSE null END
    SET a.grp1 = CASE WHEN 'nationality' IN keys(row) THEN row.nationality ELSE null END
    WITH a
    CALL apoc.load.html(a.url, {{
      title: 'title',
      h2: 'h2',
      body: 'body p'
    }})
    YIELD value
    WITH a,
          reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
          value.title[0].text AS title
    SET a.body = body, a.title = title",
    {{batchSize: 5, parallel: true}}
  )
  YIELD batches, total, timeTaken, committedOperations
  RETURN batches, total, timeTaken, committedOperations
  """
  gds.run_cypher(query)

## set phrase and salience properties

In [29]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100        130                  100

## create noun-url relationships

In [30]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(a.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [31]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})-[r:CONTAINS]-(n)
# RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
# """
# gds.run_cypher(query, {'nphrase': nphrase})

## input

In [34]:
if DATA == "DNP" and MODE == "TXT":
    # # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    # query = """  
    # MERGE (i:Input {name: $name, url: "test.html", title: "For Test", 
    #         body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    # """
    # gds.run_cypher(query, {"name": name})

    content = ""
    with open(url_input, 'r') as f:
      content = f.read()
      content = re.sub('\n+', ' ', content)
    query = f"""
    MERGE (i:Input {{ name: "{name}", url: "{url_input}", body: "{content}" }})
    """
    gds.run_cypher(query)

else:
    query = """
    MERGE (i:Input {name: $name, url: $url_input})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name, "url_input": url_input})
    
# set phrase and salience properties (input)
query = f"""
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(i.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [35]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Common,Similarity
0,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,"[パッケージ, 内容物, 以下, CO2排出量, 本社, 製品, 削減]",0.097526
1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,"[パッケージ, 以下, CO2排出量, 実現, CO2, 本社, 製品, こと, 開発, 製...",0.035080
2,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,"[環境配慮型, CO2排出量, 実現, CO2, 製品, こと, 開発, 製造, 製造工程,...",0.032132
3,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,"[CO2排出量, 実現, 製品, こと, 削減, 社会]",0.022266
4,B-5,data/newsrelease_B-1-100_C-1-4/B-5.txt,None,None,"[以下, 本社, こと, 多く, 東京都]",0.019166
5,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,"[以下, CO2排出量, 実現, CO2, 本社, 削減]",0.017291
6,B-49,data/newsrelease_B-1-100_C-1-4/B-49.txt,None,None,"[実現, 製品, 開発, 製造, ブース, 社会]",0.016872
7,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,"[以下, ニュースリリース, 本社, 製品, こと, 開発, 製造]",0.014972
8,B-97,data/newsrelease_B-1-100_C-1-4/B-97.txt,None,None,"[製品, こと, 開発, 製造, 社会]",0.014649
9,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,"[環境配慮型, パッケージ, CO2排出量, ステークホルダー, 実現, 製品, ブース, ...",0.014466

## create article-article relationships

In [36]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [37]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,B-21,"[MOES, マンガ, DNP, 制作, マンガ制作, マンガ多, 着彩, マンガAI着彩機...",B-1,"[DNP, トーハン桶川センター, 読者, 書籍製造, 書籍製造ライン, 製造ライン, 書籍...",DNP,3,1,0.666667
1,B-21,"[MOES, マンガ, DNP, 制作, マンガ制作, マンガ多, 着彩, マンガAI着彩機...",B-1,"[DNP, トーハン桶川センター, 読者, 書籍製造, 書籍製造ライン, 製造ライン, 書籍...",サービス,14,30,0.052381
2,B-21,"[MOES, マンガ, DNP, 制作, マンガ制作, マンガ多, 着彩, マンガAI着彩機...",B-1,"[DNP, トーハン桶川センター, 読者, 書籍製造, 書籍製造ライン, 製造ライン, 書籍...",出版,16,11,0.076705
3,B-21,"[MOES, マンガ, DNP, 制作, マンガ制作, マンガ多, 着彩, マンガAI着彩機...",B-1,"[DNP, トーハン桶川センター, 読者, 書籍製造, 書籍製造ライン, 製造ライン, 書籍...",コンテンツ,18,40,0.040278
4,B-21,"[MOES, マンガ, DNP, 制作, マンガ制作, マンガ多, 着彩, マンガAI着彩機...",B-1,"[DNP, トーハン桶川センター, 読者, 書籍製造, 書籍製造ライン, 製造ライン, 書籍...",サービス,14,30,0.052381
...,...,...,...,...,...,...,...,...
81741,B-24,"[警視庁サイバーセキュリティセンター, サイバーセキュリティ, DNP, 学習コンテンツ, ...",B-100,"[DNP, 生成AI, グループ社員, 価値, デジタルトランスフォーメーション, 業務, ...",こと,72,30,0.023611
81742,B-24,"[警視庁サイバーセキュリティセンター, サイバーセキュリティ, DNP, 学習コンテンツ, ...",B-100,"[DNP, 生成AI, グループ社員, 価値, デジタルトランスフォーメーション, 業務, ...",こと,72,30,0.023611
81743,B-24,"[警視庁サイバーセキュリティセンター, サイバーセキュリティ, DNP, 学習コンテンツ, ...",B-100,"[DNP, 生成AI, グループ社員, 価値, デジタルトランスフォーメーション, 業務, ...",活用,97,56,0.014083
81744,B-24,"[警視庁サイバーセキュリティセンター, サイバーセキュリティ, DNP, 学習コンテンツ, ...",B-100,"[DNP, 生成AI, グループ社員, 価値, デジタルトランスフォーメーション, 業務, ...",事業,41,47,0.022833
81745,B-24,"[警視庁サイバーセキュリティセンター, サイバーセキュリティ, DNP, 学習コンテンツ, ...",B-100,"[DNP, 生成AI, グループ社員, 価値, デジタルトランスフォーメーション, 業務, ...",こと,72,30,0.023611

## evaluate (still naive by salience)

In [38]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,r.common,Similarity
0,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,"[同等, CO2排出量, 削減, CO2排出量, 環境配慮型, 製造, 開発, CO2排出量...",0.791611
1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, パッケージ, CO2排出量, 削減...",0.657581
2,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, パッケージ, 製造, 開発, CO...",0.603284
3,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,"[CO2排出量, 削減, CO2排出量, CO2排出量, 社会, 削減, 実現, 製品, こ...",0.498526
4,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,"[本社, 以下, 製造, 開発, ニュースリリース, 製品, 開発, こと, こと, 製造,...",0.352651
5,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, CO2排出量, CO2, 削減, ...",0.311805
6,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,"[CO2排出量, 削減, CO2排出量, 環境配慮型, パッケージ, ブース, CO2排出量...",0.285290
7,B-49,data/newsrelease_B-1-100_C-1-4/B-49.txt,None,None,"[製造, 開発, ブース, 社会, 実現, 製品, 開発, 製造, 製造]",0.267355
8,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,"[CO2排出量, CO2排出量, パッケージ, 製造, 開発, CO2排出量, 実現, パッ...",0.255479
9,B-27,data/newsrelease_B-1-100_C-1-4/B-27.txt,None,None,"[削減, グループ会社, 本社, 以下, 削減, 実現, 削減, 削減, 多く]",0.224865

## project graph to memory

In [39]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score", "weight"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")
print(f"Graph '{G.name()}' relationship count: {G.relationship_count()}")
print(f"Graph '{G.name()}' degree distribution: {G.degree_distribution()}")
print(f"Graph '{G.name()}' density: {G.density()}")
print(f"Graph '{G.name()}' size in bytes: {G.size_in_bytes()}")
print(f"Graph '{G.name()}' memory_usage: {G.memory_usage()}")

The projection took 76 ms
Graph 'testgraph' node count: 4865
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']
Graph 'testgraph' relationship count: 16870
Graph 'testgraph' degree distribution: p99     255.000000
min       0.000000
max     294.000000
p90       9.000000
mean     10.402878
p999    282.000000
p50       3.000000
p95      21.000000
p75       3.000000
dtype: float64
Graph 'testgraph' density: 0.0007129165088981446
Graph 'testgraph' size in bytes: 32977663
Graph 'testgraph' memory_usage: 31 MiB

## node similarity (JACCARD)

In [40]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='JACCARD', # default
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.052716946601867674

## evaluate (jaccard similarity)

In [41]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-84  data/newsrelease_B-1-100_C-1-4/B-84.txt  None   None    0.078200
1    B-52  data/newsrelease_B-1-100_C-1-4/B-52.txt  None   None    0.068744
2    B-75  data/newsrelease_B-1-100_C-1-4/B-75.txt  None   None    0.056868
3    B-17  data/newsrelease_B-1-100_C-1-4/B-17.txt  None   None    0.054220
4    B-19  data/newsrelease_B-1-100_C-1-4/B-19.txt  None   None    0.049231
5    B-71  data/newsrelease_B-1-100_C-1-4/B-71.txt  None   None    0.049209
6    B-27  data/newsrelease_B-1-100_C-1-4/B-27.txt  None   None    0.044348
7    B-72  data/newsrelease_B-1-100_C-1-4/B-72.txt  None   None    0.043223
8    B-36  data/newsrelease_B-1-100_C-1-4/B-36.txt  None   None    0.042806
9    B-98  data/newsrelease_B-1-100_C-1-4/B-98.txt  None   None    0.040320

## node similarity (OVERLAP)

In [42]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='OVERLAP',
    writeRelationshipType='SIMILAR_O',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.103843355178833

## evaluate (overlap similarity)

In [43]:
query = """
MATCH (i:Input)-[r:SIMILAR_O]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-84  data/newsrelease_B-1-100_C-1-4/B-84.txt  None   None    0.154895
1    B-52  data/newsrelease_B-1-100_C-1-4/B-52.txt  None   None    0.130541
2    B-75  data/newsrelease_B-1-100_C-1-4/B-75.txt  None   None    0.108577
3    B-17  data/newsrelease_B-1-100_C-1-4/B-17.txt  None   None    0.105455
4    B-19  data/newsrelease_B-1-100_C-1-4/B-19.txt  None   None    0.101315
5    B-71  data/newsrelease_B-1-100_C-1-4/B-71.txt  None   None    0.094739
6    B-72  data/newsrelease_B-1-100_C-1-4/B-72.txt  None   None    0.087920
7    B-36  data/newsrelease_B-1-100_C-1-4/B-36.txt  None   None    0.087677
8    B-27  data/newsrelease_B-1-100_C-1-4/B-27.txt  None   None    0.087433
9    B-98  data/newsrelease_B-1-100_C-1-4/B-98.txt  None   None    0.079883

## node similarity (COSINE)

In [44]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='COSINE',
    writeRelationshipType='SIMILAR_C',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.11493463516235351

## evaluate (cosine similarity)

In [45]:
query = """
MATCH (i:Input)-[r:SIMILAR_C]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-84  data/newsrelease_B-1-100_C-1-4/B-84.txt  None   None    0.158508
1    B-52  data/newsrelease_B-1-100_C-1-4/B-52.txt  None   None    0.156205
2    B-75  data/newsrelease_B-1-100_C-1-4/B-75.txt  None   None    0.132661
3    B-19  data/newsrelease_B-1-100_C-1-4/B-19.txt  None   None    0.112778
4    B-17  data/newsrelease_B-1-100_C-1-4/B-17.txt  None   None    0.111239
5    B-71  data/newsrelease_B-1-100_C-1-4/B-71.txt  None   None    0.100785
6    B-27  data/newsrelease_B-1-100_C-1-4/B-27.txt  None   None    0.098992
7    B-72  data/newsrelease_B-1-100_C-1-4/B-72.txt  None   None    0.093783
8    B-36  data/newsrelease_B-1-100_C-1-4/B-36.txt  None   None    0.093086
9    B-98  data/newsrelease_B-1-100_C-1-4/B-98.txt  None   None    0.091310

## 1. node embedding

In [46]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
1       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...
2       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
3       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...
4       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
                              ...
4860    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
4861    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
4862    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
4863    [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
4864    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, ...
Name: embedding, Length: 4865, dtype: object

In [47]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.mutate(
    G,
    mutateProperty="embedding_node2vec",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 4865

## 2. kNN

In [48]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# node2vec
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_node2vec"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_N",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 4865
Mean similarity: 0.9657943725585938

## evaluate (node embedding + knn)

In [49]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-94  data/newsrelease_B-1-100_C-1-4/B-94.txt  None   None    0.457417
1    B-76  data/newsrelease_B-1-100_C-1-4/B-76.txt  None   None    0.424621
2    B-50  data/newsrelease_B-1-100_C-1-4/B-50.txt  None   None    0.417481
3    B-92  data/newsrelease_B-1-100_C-1-4/B-92.txt  None   None    0.368181

In [50]:
# node2vec
query = """
MATCH (i:Input)-[r:SIMILAR_N]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-84  data/newsrelease_B-1-100_C-1-4/B-84.txt  None   None    0.865252
1    B-36  data/newsrelease_B-1-100_C-1-4/B-36.txt  None   None    0.842092
2    B-47  data/newsrelease_B-1-100_C-1-4/B-47.txt  None   None    0.790112
3    B-41  data/newsrelease_B-1-100_C-1-4/B-41.txt  None   None    0.788358
4    B-31  data/newsrelease_B-1-100_C-1-4/B-31.txt  None   None    0.754359
5    B-30  data/newsrelease_B-1-100_C-1-4/B-30.txt  None   None    0.751976
6    B-76  data/newsrelease_B-1-100_C-1-4/B-76.txt  None   None    0.710796
7    B-83  data/newsrelease_B-1-100_C-1-4/B-83.txt  None   None    0.693320
8    B-67  data/newsrelease_B-1-100_C-1-4/B-67.txt  None   None    0.674277
9    B-94  data/newsrelease_B-1-100_C-1-4/B-94.txt  None   None    0.650564

In [51]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-44  data/newsrelease_B-1-100_C-1-4/B-44.txt  None   None    1.000000
1    B-27  data/newsrelease_B-1-100_C-1-4/B-27.txt  None   None    1.000000
2    B-93  data/newsrelease_B-1-100_C-1-4/B-93.txt  None   None    0.962910
3    B-82  data/newsrelease_B-1-100_C-1-4/B-82.txt  None   None    0.956435
4    B-43  data/newsrelease_B-1-100_C-1-4/B-43.txt  None   None    0.956435
5    B-22  data/newsrelease_B-1-100_C-1-4/B-22.txt  None   None    0.956435
6    B-87  data/newsrelease_B-1-100_C-1-4/B-87.txt  None   None    0.956435
7    B-21  data/newsrelease_B-1-100_C-1-4/B-21.txt  None   None    0.956435
8    B-55  data/newsrelease_B-1-100_C-1-4/B-55.txt  None   None    0.956435
9    B-54  data/newsrelease_B-1-100_C-1-4/B-54.txt  None   None    0.956435

# (postprocessing) free up memory

In [52]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()