In [561]:
from graphdatascience import GraphDataScience

# neo4j desktop v5.11.0

In [562]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# DNP or WIKI
URL = "WIKI"

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [563]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [564]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [565]:
# if URL == "DNP": 
#     query = """
#     MERGE (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
#     WITH a
#     CALL apoc.load.html(a.url, {
#     title: "title",
#     h2: "h2",
#     main: "main"
#     })
#     YIELD value
#     WITH a,
#         value.main[0].text AS body,
#         value.title[0].text AS title
#     SET a.body = body, a.title = title
#     RETURN a.title, a.body
#     """
#     gds.run_cypher(query)

#     query = """
#     MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
#     CALL apoc.nlp.gcp.entities.stream(a, {
#     nodeProperty: 'body',
#     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
#     })
#     YIELD node, value
#     WITH node, value
#     UNWIND value.entities AS entity
#     RETURN entity
#     LIMIT 5;
#     """
#     gds.run_cypher(query)

# elif URL == "WIKI":
#     query = """
#     MERGE (a:Article {url: "https://en.wikipedia.org/wiki/Zinedine_Zidane"})
#     WITH a
#     CALL apoc.load.html(a.url, {
#     title: "title",
#     h2: "h2",
#     body: "body p"
#     })
#     YIELD value
#     WITH a,
#         reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#         value.title[0].text AS title
#     SET a.body = body, a.title = title
#     RETURN a.title, a.body
#     """
#     gds.run_cypher(query)

#     query = """
#     MATCH (a:Article {url: "https://en.wikipedia.org/wiki/Zinedine_Zidane"})
#     CALL apoc.nlp.gcp.entities.stream(a, {
#     nodeProperty: 'body',
#     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
#     })
#     YIELD node, value
#     WITH node, value
#     UNWIND value.entities AS entity
#     RETURN entity, entity['name']
#     LIMIT 5;
#     """
#     gds.run_cypher(query)

## create url nodes (article, player, ...)

In [566]:
if URL == "DNP":
  query = """
  CALL apoc.periodic.iterate(
    "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv' AS row
    RETURN row",
    "MERGE (a:Article {name: row.id, url: row.url})
    WITH a
    CALL apoc.load.html(a.url, {
      title: 'title',
      h2: 'h2',
      main: 'main'
    })
    YIELD value
    WITH a,
         value.main[0].text AS body,
         value.title[0].text AS title
    SET a.body = body, a.title = title",
    {batchSize: 5, parallel: true}
  )
  YIELD batches, total, timeTaken, committedOperations
  RETURN batches, total, timeTaken, committedOperations
  """
  gds.run_cypher(query)
elif URL == "WIKI":
  query = """
  CALL apoc.periodic.iterate(
    "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv' AS row
    RETURN row",
    "MERGE (a:Article {name: row.id, url: row.url})
    WITH a
    CALL apoc.load.html(a.url, {
      title: 'title',
      h2: 'h2',
      body: 'body p'
    })
    YIELD value
    WITH a,
         reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
         value.title[0].text AS title
    SET a.body = body, a.title = title",
    {batchSize: 5, parallel: true}
  )
  YIELD batches, total, timeTaken, committedOperations
  RETURN batches, total, timeTaken, committedOperations
  """
  gds.run_cypher(query)

## set phrase and salience properties

In [567]:
query = """
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {
     nodeProperty: 'body',
     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
   })
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {batchMode: "BATCH_SINGLE", batchSize: 10})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100        181                  100

## create noun-url relationships

In [568]:
nphrase = 5
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [569]:
# if URL == "DNP":
#     query = """
#     MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169882_1587.html"})-[r:CONTAINS]-(n)
#     RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
#     """
#     gds.run_cypher(query, {'nphrase': nphrase})
# elif URL == "WIKI":
query = """
MATCH (a:Article {url: "https://en.wikipedia.org/wiki/Zinedine_Zidane"})-[r:CONTAINS]-(n)
RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a.processed,a.phrase[0..$nphrase],a.salience[0..$nphrase],collect(r.rank),collect(r.score),collect(n.name)
0,True,"[Zinédine Yazid Zidane, Real Madrid, Stade de ...","[0.5577935, 0.23946731, 0.057531696, 0.0157421...","[1, 2, 5, 4, 3]","[0.5577935, 0.23946731, 0.002602585, 0.0157421...","[Zinédine Yazid Zidane, Real Madrid, team, Luc..."

## input

In [576]:
if URL == "DNP":
    # input = {
    #     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
    #     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
    #     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
    #     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
    # }
    # name = "C-1"
    # url = input[name]

    # query = """  
    # MERGE (i:Input {name: $name, url: $url})
    # WITH i
    # CALL apoc.load.html(i.url, {
    #    title: 'title',
    #    body: 'body'
    # })
    # YIELD value
    # WITH i,
    #      value.body[0].text AS body,
    #      value.title[0].text AS title
    # SET i.body = body, i.title = title
    # """
    # gds.run_cypher(query, {"name": name, "url": url})

    name = "Test"
    # 以下の単語を使って200文字の作文を作ってください：市谷の杜, DNP, 保全, 自然共生サイト, 東京都 (from B-10)
    query = """  
    MERGE (i:Input {name: $name, url: "test.html", title: "For Test", body: "東京都に位置する市谷の杜は、DNP（大日本印刷株式会社）が保全に尽力している自然共生サイトの一つです。この場所は、都心にありながら自然との調和を大切にし、美しい環境を提供しています。市谷の杜は、多くの緑と自然の美しさで知られ、東京都内でのリフレッシュやリラックスに最適な場所です。DNPの保全活動は、この特別な場所の自然の美しさを守り、将来の世代に受け継ぐことを目指しています。市谷の杜は、都市生活と自然の共生を象徴し、多くの人々に癒しと平和を提供しています。"})
    """
    gds.run_cypher(query, {"name": name})
    
elif URL == "WIKI":
    name = "Thierry Henry"
    query = """
    MERGE (i:Input {name: $name, url: "https://en.wikipedia.org/wiki/Thierry_Henry"})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name})
    
# set phrase and salience properties (input)
query = """
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {
 nodeProperty: 'body',
 key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

## evaluate (naive by rank)

In [578]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

               Article             Common  Similarity
0         Anita Asante          [Arsenal]    0.111111
1       Manuel Almunia          [Arsenal]    0.111111
2         Rachel Brown          [Arsenal]    0.083333
3  Siobhan Chamberlain          [Arsenal]    0.066667
4      Zinedine Zidane  [Stade de France]    0.066667

## create article-article relationships

In [579]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [580]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.phrase[0..$nphrase], a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.phrase[0..$nphrase],a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,"[Vicente Guaita Panadero, footballer, Unai Eme...","[Hope Patricia Powell, England, women, 1995 FI...",footballer,2,5,0.350000
1,"[Karen Louise Bardsley, England, team, goalkee...","[Hope Patricia Powell, England, women, 1995 FI...",England,2,2,0.500000
2,"[Alessandro Del Piero Ufficiale OMRI, football...","[Hope Patricia Powell, England, women, 1995 FI...",footballer,2,5,0.350000
3,"[Nathaniel Nyakie Chalobah, England, team., We...","[Hope Patricia Powell, England, women, 1995 FI...",England,2,2,0.500000
4,"[footballer, Nicaraguan, Samuel Israel Wilson ...","[Hope Patricia Powell, England, women, 1995 FI...",footballer,1,5,0.600000
...,...,...,...,...,...,...
1163,"[Serghei Gheorghiev, Chirsova, Navbahor Namang...","[Mick Bates, midfielder, Leeds United, Doncast...",midfielder,4,2,0.375000
1164,"[José María Movilla Cubero, Zaragoza, midfield...","[Mick Bates, midfielder, Leeds United, Doncast...",midfielder,3,2,0.416667
1165,"[Salim Moizini, article, midfielder, Wikipedia...","[Mick Bates, midfielder, Leeds United, Doncast...",midfielder,3,2,0.416667
1166,"[Jill Louise Scott MBE, Alex Scott, England, P...","[Mick Bates, midfielder, Leeds United, Doncast...",midfielder,5,2,0.350000
1167,"[José Luis López Panizo, midfielder, seasons, ...","[Mick Bates, midfielder, Leeds United, Doncast...",midfielder,2,2,0.500000

## evaluate (still naive by salience)

In [581]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, r.common, Similarity 
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

               Article           r.common  Similarity
0      Zinedine Zidane  [Stade de France]    0.060608
1       Manuel Almunia          [Arsenal]    0.055708
2         Anita Asante          [Arsenal]    0.052584
3         Rachel Brown          [Arsenal]    0.047898
4  Siobhan Chamberlain          [Arsenal]    0.045457

## project graph to memory

In [582]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")

The projection took 9 ms
Graph 'testgraph' node count: 431
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']

## node similarity (JACCARD)

In [583]:
result = gds.nodeSimilarity.filtered.write(
    G,
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="rank",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 5
Nodes compared: 1
Mean similarity: 0.11111068725585938

## evaluate (jaccard similarity)

In [584]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

               Article  Similarity
0       Manuel Almunia    0.111111
1         Rachel Brown    0.111111
2      Zinedine Zidane    0.111111
3  Siobhan Chamberlain    0.111111
4         Anita Asante    0.111111

## 1. node embedding

In [585]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank",
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
1      [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
2      [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3      [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
4      [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...
                             ...
426    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
427    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
428    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
429    [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
430    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...
Name: embedding, Length: 431, dtype: object

In [586]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 431

## 2. kNN

In [587]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 431
Mean similarity: 0.8747222900390625

## evaluate (node embedding + knn)

In [588]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

                     Article  Similarity
0         Serghei Gheorghiev    0.756544
1  Cléverson Gabriel Córdova    0.736032
2               John Eustace    0.735967
3               Álvaro Rubio    0.725054
4              Jonathan Hogg    0.701365
5           José Luis Panizo    0.679862
6               Casey Stoney    0.679419
7               Karen Carney    0.675154
8                 Alex Geijo    0.665185
9         José María Movilla    0.660206

In [589]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

                Article  Similarity
0      Corentin Martins    0.947214
1  Geoffrey Mujangi Bia    0.947214
2           Matěj Vydra    0.947214
3         Samuel Wilson    0.875000
4         Joel Ekstrand    0.853553
5       Zinedine Zidane    0.835410
6       Sylvain Marchal    0.835410
7   Ole Gunnar Solskjær    0.835410
8          Karen Carney    0.835410
9           Troy Deeney    0.835410

# (postprocessing) free up memory

In [590]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()