In [82]:
from graphdatascience import GraphDataScience
import sys
import re

# neo4j desktop v5.11.0

In [83]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 100 # number of nouns extracted from each article
DATA_CLASS = "DNP" # DNP or WIKI
DATA_TYPE = "TXT" # TXT or URL (currently txt is used for dnp data)
DATA_URL = "" # input data
DATA_TEST = "" # test data
QUERY_NAME = "" # name of query data
QUERY_URL = "" # query data
QUERY_DICT = {} # query dict {QUERY_NAME: QUERY_URL}
if DATA_CLASS == "DNP":
    if DATA_TYPE == "TXT":
        DATA_URL = "data/newsrelease_B-1-100_C-1-4/"
        DATA_TEST = "B-1.txt"
        QUERY_DICT["C-1"] = DATA_URL + "C-1.txt"
        QUERY_DICT["C-2"] = DATA_URL + "C-2.txt"
        QUERY_DICT["C-3"] = DATA_URL + "C-3.txt"
        QUERY_DICT["C-4"] = DATA_URL + "C-4.txt"
        QUERY_NAME = "C-1"
        QUERY_URL = QUERY_DICT[QUERY_NAME]
    elif DATA_TYPE == "URL":
        DATA_URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
        DATA_TEST = "https://www.dnp.co.jp/news/detail/20169924_1587.html"
        QUERY_DICT["C-1"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html"
        QUERY_DICT["C-2"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html"
        QUERY_DICT["C-3"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html"
        QUERY_DICT["C-4"] = "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
        QUERY_NAME = "C-1"
        QUERY_URL = QUERY_DICT[QUERY_NAME]
elif DATA_CLASS == "WIKI_FP100":
    DATA_URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    DATA_TEST = "https://en.wikipedia.org/wiki/Zinedine_Zidane"
    QUERY_DICT["Thierry Henry"] = "https://en.wikipedia.org/wiki/Thierry_Henry"
    QUERY_NAME = "Thierry Henry"
    QUERY_URL = QUERY_DICT[QUERY_NAME]
elif DATA_CLASS == "WIKI_P100":
    DATA_URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_persons_100.csv"
    DATA_TEST = "https://en.wikipedia.org/wiki/Barack_Obama"    
    QUERY_DICT["Joe Biden"] = "https://en.wikipedia.org/wiki/Joe_Biden"
    QUERY_NAME = "Joe Biden"
    QUERY_URL = QUERY_DICT[QUERY_NAME]
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [84]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [85]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [86]:
# query = f"""
# MERGE (a:Article {{url: "{DATA_TEST}"}})
# WITH a
# CALL apoc.load.html(a.url, {{
# title: "title",
# h2: "h2",
# body: "body p"
# }})
# YIELD value
# WITH a,
#     reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#     value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.title, a.body
# """
# gds.run_cypher(query)

In [87]:
# query = f"""
# MATCH (a:Article {{url: "{DATA_TEST}"}})
# CALL apoc.nlp.gcp.entities.stream(a, {{
# nodeProperty: 'body',
# key: '{KEY}'
# }})
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url nodes (article, person, ...)

In [88]:
if DATA_CLASS == "DNP" and DATA_TYPE == "TXT":
  for idx in range(1, 101):
    node = "B-" + str(idx)
    file = DATA_URL + node + ".txt"
    content = ""
    with open(file, 'r') as f:
      content = f.read()
      content = re.sub('\n+', ' ', content)
    query = f"""
    MERGE (a:Article {{ name: "{node}", url: "{file}", body: "{content}" }})
    """
    gds.run_cypher(query)
else:
  query = f"""
  CALL apoc.periodic.iterate(
    "LOAD CSV WITH HEADERS FROM '{DATA_URL}' AS row
    RETURN row",
    "MERGE (a:Article {{name: row.id, url: row.url}})
    SET a.grp = CASE WHEN 'occupation' IN keys(row) THEN row.occupation ELSE null END
    SET a.grp1 = CASE WHEN 'nationality' IN keys(row) THEN row.nationality ELSE null END
    WITH a
    CALL apoc.load.html(a.url, {{
      title: 'title',
      h2: 'h2',
      body: 'body p'
    }})
    YIELD value
    WITH a,
          reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
          value.title[0].text AS title
    SET a.body = body, a.title = title",
    {{batchSize: 5, parallel: true}}
  )
  YIELD batches, total, timeTaken, committedOperations
  RETURN batches, total, timeTaken, committedOperations
  """
  gds.run_cypher(query)

## set phrase and salience properties

In [89]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100         94                  100

## create noun-url relationships

In [90]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(a.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [91]:
# query = f"""
# MATCH (a:Article {{url: "{DATA_TEST}"}})-[r:CONTAINS]-(n)
# RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
# """
# gds.run_cypher(query, {'nphrase': nphrase})

## query

In [92]:
if DATA_CLASS == "DNP" and DATA_TYPE == "TXT":
    # # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    # query = """  
    # MERGE (q:Query {name: $name, url: "test.html", title: "For Test", 
    #         body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    # """
    # gds.run_cypher(query, {"name": QUERY_NAME})

    content = ""
    with open(QUERY_URL, 'r') as f:
      content = f.read()
      content = re.sub('\n+', ' ', content)
    query = f"""
    MERGE (q:Query {{ name: "{QUERY_NAME}", url: "{QUERY_URL}", body: "{content}" }})
    """
    gds.run_cypher(query)

else:
    query = """
    MERGE (q:Query {name: $name, url: $url})
    WITH q
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH q,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET q.body = body, q.title = title
    RETURN q.title, q.body
    """
    gds.run_cypher(query, {"name": QUERY_NAME, "url": QUERY_URL})
    
# set phrase and salience properties (Query)
query = f"""
MATCH (q:Query)
CALL apoc.nlp.gcp.entities.stream(q, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (Query)
query = """
MATCH (q:Query)
WHERE q.processed IS NOT NULL
FOREACH (word IN q.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (q)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(q.phrase, word) + 1
  SET r.score = q.salience[apoc.coll.indexOf(q.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(q.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [93]:
query = """
MATCH (q:Query)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Common,Similarity
0,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,"[以下, CO2排出量, 本社, 削減, 内容物, パッケージ, 製品]",0.097526
1,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,"[以下, CO2排出量, 本社, 製造, 削減, CO2, 実現, 社会, パッケージ, 製...",0.035080
2,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,"[CO2排出量, 製造, 削減, CO2, 同等, 製造工程, 実現, 環境配慮型, 製品,...",0.032132
3,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,"[CO2排出量, 削減, 実現, 社会, 製品, こと]",0.022266
4,B-5,data/newsrelease_B-1-100_C-1-4/B-5.txt,None,None,"[多く, 以下, 本社, 東京都, こと]",0.019166
5,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,"[以下, CO2排出量, 本社, 削減, CO2, 実現]",0.017291
6,B-49,data/newsrelease_B-1-100_C-1-4/B-49.txt,None,None,"[製造, 実現, 社会, ブース, 製品, 開発]",0.016868
7,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,"[以下, 本社, 製造, ニュースリリース, 製品, こと, 開発]",0.014972
8,B-97,data/newsrelease_B-1-100_C-1-4/B-97.txt,None,None,"[製造, 社会, 製品, こと, 開発]",0.014649
9,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,"[多く, ステークホルダー, CO2排出量, 削減, 実現, 環境配慮型, 社会, 幕張メッ...",0.014466

## create article-article relationships

In [94]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#query
query = """
MATCH (q:Query), (a:Article)
WHERE any(x IN q.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (q)-[r:CORRELATES]-(a)
SET r.common = [x IN q.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [95]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,B-68,"[DNP, ロールプレイング型, 参加者, シナリオ, メタバース構築サービス, メタバース...",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検, サービス, 富士物流, 作...",DNP,1,1,1.000000
1,B-68,"[DNP, ロールプレイング型, 参加者, シナリオ, メタバース構築サービス, メタバース...",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検, サービス, 富士物流, 作...",サービス,12,6,0.125000
2,B-68,"[DNP, ロールプレイング型, 参加者, シナリオ, メタバース構築サービス, メタバース...",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検, サービス, 富士物流, 作...",提供,13,15,0.071795
3,B-68,"[DNP, ロールプレイング型, 参加者, シナリオ, メタバース構築サービス, メタバース...",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検, サービス, 富士物流, 作...",サービス,12,6,0.125000
4,B-68,"[DNP, ロールプレイング型, 参加者, シナリオ, メタバース構築サービス, メタバース...",B-6,"[DNP, RFID, 蔵書点検サービス, 図書館, 蔵書点検, サービス, 富士物流, 作...",サービス,12,6,0.125000
...,...,...,...,...,...,...,...,...
82459,B-43,"[DNP, 旭川市, 業務, 効率化, 協定, 行政事務, BPR, DNPコアライズ, 株...",B-5,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...",課題,13,77,0.044955
82460,B-43,"[DNP, 旭川市, 業務, 効率化, 協定, 行政事務, BPR, DNPコアライズ, 株...",B-5,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...",効率化,4,78,0.131410
82461,B-43,"[DNP, 旭川市, 業務, 効率化, 協定, 行政事務, BPR, DNPコアライズ, 株...",B-5,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...",一環,97,82,0.011252
82462,B-43,"[DNP, 旭川市, 業務, 効率化, 協定, 行政事務, BPR, DNPコアライズ, 株...",B-5,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...",取り組み,34,83,0.020730
82463,B-43,"[DNP, 旭川市, 業務, 効率化, 協定, 行政事務, BPR, DNPコアライズ, 株...",B-5,"[緑の都市賞, 市谷の杜, 評価 環境 環境 ESG 地域創生・まちづくり 大日本印刷株式会...",内容,67,97,0.012617

## evaluate (still naive by salience)

In [96]:
query = """
MATCH (q:Query)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + q.salience[apoc.coll.indexOf(q.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,r.common,Similarity
0,B-52,data/newsrelease_B-1-100_C-1-4/B-52.txt,None,None,"[同等, CO2排出量, 削減, CO2排出量, 環境配慮型, 製造, 開発, CO2排出量...",0.791611
1,B-75,data/newsrelease_B-1-100_C-1-4/B-75.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, パッケージ, CO2排出量, 削減...",0.657581
2,B-84,data/newsrelease_B-1-100_C-1-4/B-84.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, パッケージ, 製造, 開発, CO...",0.603284
3,B-50,data/newsrelease_B-1-100_C-1-4/B-50.txt,None,None,"[CO2排出量, 削減, CO2排出量, CO2排出量, 社会, 削減, 実現, 製品, こ...",0.498526
4,B-72,data/newsrelease_B-1-100_C-1-4/B-72.txt,None,None,"[本社, 以下, 製造, 開発, ニュースリリース, 製品, 開発, こと, こと, 製造,...",0.352651
5,B-98,data/newsrelease_B-1-100_C-1-4/B-98.txt,None,None,"[CO2排出量, 削減, CO2排出量, 本社, 以下, CO2排出量, CO2, 削減, ...",0.311805
6,B-19,data/newsrelease_B-1-100_C-1-4/B-19.txt,None,None,"[CO2排出量, 削減, CO2排出量, 環境配慮型, パッケージ, ブース, CO2排出量...",0.285290
7,B-49,data/newsrelease_B-1-100_C-1-4/B-49.txt,None,None,"[製造, 開発, ブース, 社会, 実現, 製品, 開発, 製造, 製造]",0.267355
8,B-36,data/newsrelease_B-1-100_C-1-4/B-36.txt,None,None,"[CO2排出量, CO2排出量, パッケージ, 製造, 開発, CO2排出量, 実現, パッ...",0.255479
9,B-27,data/newsrelease_B-1-100_C-1-4/B-27.txt,None,None,"[削減, グループ会社, 本社, 以下, 削減, 実現, 削減, 削減, 多く]",0.224865

## project graph to memory

In [97]:
node_projection = ["Query", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Query": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score", "weight"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")
print(f"Graph '{G.name()}' relationship count: {G.relationship_count()}")
print(f"Graph '{G.name()}' degree distribution: {G.degree_distribution()}")
print(f"Graph '{G.name()}' density: {G.density()}")
print(f"Graph '{G.name()}' size in bytes: {G.size_in_bytes()}")
print(f"Graph '{G.name()}' memory_usage: {G.memory_usage()}")

The projection took 64 ms
Graph 'testgraph' node count: 4860
Graph 'testgraph' node labels: ['Query', 'Article', 'Noun']
Graph 'testgraph' relationship count: 16870
Graph 'testgraph' degree distribution: p99     255.00000
min       3.00000
max     294.00000
p90       9.00000
mean     10.41358
p999    282.00000
p50       3.00000
p95      21.00000
p75       3.00000
dtype: float64
Graph 'testgraph' density: 0.000714384320979185
Graph 'testgraph' size in bytes: 32977499
Graph 'testgraph' memory_usage: 31 MiB

## node similarity (JACCARD)

In [98]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='JACCARD', # default
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.05262758731842041

## evaluate (jaccard similarity)

In [99]:
query = """
MATCH (q:Query)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-84  data/newsrelease_B-1-100_C-1-4/B-84.txt  None   None    0.078200
1    B-52  data/newsrelease_B-1-100_C-1-4/B-52.txt  None   None    0.068744
2    B-75  data/newsrelease_B-1-100_C-1-4/B-75.txt  None   None    0.056868
3    B-17  data/newsrelease_B-1-100_C-1-4/B-17.txt  None   None    0.054220
4    B-19  data/newsrelease_B-1-100_C-1-4/B-19.txt  None   None    0.049231
5    B-71  data/newsrelease_B-1-100_C-1-4/B-71.txt  None   None    0.048316
6    B-27  data/newsrelease_B-1-100_C-1-4/B-27.txt  None   None    0.044348
7    B-72  data/newsrelease_B-1-100_C-1-4/B-72.txt  None   None    0.043223
8    B-36  data/newsrelease_B-1-100_C-1-4/B-36.txt  None   None    0.042806
9    B-98  data/newsrelease_B-1-100_C-1-4/B-98.txt  None   None    0.040320

## node similarity (OVERLAP)

In [100]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='OVERLAP',
    writeRelationshipType='SIMILAR_O',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.10369725227355957

## evaluate (overlap similarity)

In [101]:
query = """
MATCH (q:Query)-[r:SIMILAR_O]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-84  data/newsrelease_B-1-100_C-1-4/B-84.txt  None   None    0.154895
1    B-52  data/newsrelease_B-1-100_C-1-4/B-52.txt  None   None    0.130541
2    B-75  data/newsrelease_B-1-100_C-1-4/B-75.txt  None   None    0.108577
3    B-17  data/newsrelease_B-1-100_C-1-4/B-17.txt  None   None    0.105455
4    B-19  data/newsrelease_B-1-100_C-1-4/B-19.txt  None   None    0.101315
5    B-71  data/newsrelease_B-1-100_C-1-4/B-71.txt  None   None    0.093278
6    B-72  data/newsrelease_B-1-100_C-1-4/B-72.txt  None   None    0.087920
7    B-36  data/newsrelease_B-1-100_C-1-4/B-36.txt  None   None    0.087677
8    B-27  data/newsrelease_B-1-100_C-1-4/B-27.txt  None   None    0.087433
9    B-98  data/newsrelease_B-1-100_C-1-4/B-98.txt  None   None    0.079883

## node similarity (COSINE)

In [102]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='COSINE',
    writeRelationshipType='SIMILAR_C',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.11475157737731934

## evaluate (cosine similarity)

In [103]:
query = """
MATCH (q:Query)-[r:SIMILAR_C]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-84  data/newsrelease_B-1-100_C-1-4/B-84.txt  None   None    0.158508
1    B-52  data/newsrelease_B-1-100_C-1-4/B-52.txt  None   None    0.156205
2    B-75  data/newsrelease_B-1-100_C-1-4/B-75.txt  None   None    0.132661
3    B-19  data/newsrelease_B-1-100_C-1-4/B-19.txt  None   None    0.112778
4    B-17  data/newsrelease_B-1-100_C-1-4/B-17.txt  None   None    0.111239
5    B-27  data/newsrelease_B-1-100_C-1-4/B-27.txt  None   None    0.098992
6    B-71  data/newsrelease_B-1-100_C-1-4/B-71.txt  None   None    0.098955
7    B-72  data/newsrelease_B-1-100_C-1-4/B-72.txt  None   None    0.093783
8    B-36  data/newsrelease_B-1-100_C-1-4/B-36.txt  None   None    0.093086
9    B-98  data/newsrelease_B-1-100_C-1-4/B-98.txt  None   None    0.091310

## 1. node embedding

In [104]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, ...
1       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
2       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
                              ...
4855    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
4856    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4857    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
4858    [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
4859    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...
Name: embedding, Length: 4860, dtype: object

In [105]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.mutate(
    G,
    mutateProperty="embedding_node2vec",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 4860

## 2. kNN

In [106]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

# node2vec
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_node2vec"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_N",
    writeProperty="score",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Query",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 4860
Mean similarity: 0.9400001525878906

## evaluate (node embedding + knn)

In [107]:
# fastrp
query = """
MATCH (q:Query)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                       URL Group Group1  Similarity
0    B-71   data/newsrelease_B-1-100_C-1-4/B-71.txt  None   None    0.920148
1     B-7    data/newsrelease_B-1-100_C-1-4/B-7.txt  None   None    0.772210
2    B-76   data/newsrelease_B-1-100_C-1-4/B-76.txt  None   None    0.737279
3    B-15   data/newsrelease_B-1-100_C-1-4/B-15.txt  None   None    0.731383
4    B-10   data/newsrelease_B-1-100_C-1-4/B-10.txt  None   None    0.700913
5   B-100  data/newsrelease_B-1-100_C-1-4/B-100.txt  None   None    0.691759
6     B-4    data/newsrelease_B-1-100_C-1-4/B-4.txt  None   None    0.685134
7    B-38   data/newsrelease_B-1-100_C-1-4/B-38.txt  None   None    0.642118
8    B-74   data/newsrelease_B-1-100_C-1-4/B-74.txt  None   None    0.529116
9    B-43   data/newsrelease_B-1-100_C-1-4/B-43.txt  None   None    0.466307

In [108]:
# node2vec
query = """
MATCH (q:Query)-[r:SIMILAR_N]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                       URL Group Group1  Similarity
0    B-19   data/newsrelease_B-1-100_C-1-4/B-19.txt  None   None    0.877493
1    B-52   data/newsrelease_B-1-100_C-1-4/B-52.txt  None   None    0.872907
2    B-25   data/newsrelease_B-1-100_C-1-4/B-25.txt  None   None    0.823174
3    B-98   data/newsrelease_B-1-100_C-1-4/B-98.txt  None   None    0.808106
4     B-9    data/newsrelease_B-1-100_C-1-4/B-9.txt  None   None    0.770281
5    B-77   data/newsrelease_B-1-100_C-1-4/B-77.txt  None   None    0.769365
6   B-100  data/newsrelease_B-1-100_C-1-4/B-100.txt  None   None    0.699163
7    B-96   data/newsrelease_B-1-100_C-1-4/B-96.txt  None   None    0.692028
8    B-69   data/newsrelease_B-1-100_C-1-4/B-69.txt  None   None    0.683980
9    B-40   data/newsrelease_B-1-100_C-1-4/B-40.txt  None   None    0.674275

In [109]:
# hashgnn
query = """
MATCH (q:Query)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

  Article                                      URL Group Group1  Similarity
0    B-44  data/newsrelease_B-1-100_C-1-4/B-44.txt  None   None         1.0
1    B-72  data/newsrelease_B-1-100_C-1-4/B-72.txt  None   None         1.0
2     B-6   data/newsrelease_B-1-100_C-1-4/B-6.txt  None   None         1.0
3    B-77  data/newsrelease_B-1-100_C-1-4/B-77.txt  None   None         1.0
4    B-94  data/newsrelease_B-1-100_C-1-4/B-94.txt  None   None         0.9
5    B-86  data/newsrelease_B-1-100_C-1-4/B-86.txt  None   None         0.9
6    B-82  data/newsrelease_B-1-100_C-1-4/B-82.txt  None   None         0.9
7     B-3   data/newsrelease_B-1-100_C-1-4/B-3.txt  None   None         0.9
8     B-1   data/newsrelease_B-1-100_C-1-4/B-1.txt  None   None         0.9
9    B-91  data/newsrelease_B-1-100_C-1-4/B-91.txt  None   None         0.9

# (postprocessing) free up memory

In [110]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()