In [28]:
from graphdatascience import GraphDataScience
import json

# neo4j desktop (5.3.0, m1)

In [29]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

2.3.2

# Create Noun-Article (Star) Graph

In [30]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [31]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [32]:
# query = """
# MERGE (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# WITH a
# CALL apoc.load.html(a.url, {
#  title: "title",
#  h2: "h2",
#  main: "main"
# })
# YIELD value
# WITH a,
#      value.main[0].text AS body,
#      value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.body
# """
# gds.run_cypher(query)

In [33]:
# query = """
# MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169924_1587.html"})
# CALL apoc.nlp.gcp.entities.stream(a, {
#  nodeProperty: 'body',
#  key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
# })
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url article nodes

In [34]:
query = """
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM 'https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv' AS row
   RETURN row",
  "MERGE (a:Article {url: row.url})
   WITH a
   CALL apoc.load.html(a.url, {
    title: 'title',
    h2: 'h2',
    main: 'main'
   })
   YIELD value
   WITH a,
        value.main[0].text AS body,
        value.title[0].text AS title
   SET a.body = body, a.title = title",
  {batchSize: 5, parallel: true}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        1      2          0                    2

## set phrase and salience properties

In [35]:
query = """
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {
     nodeProperty: 'body',
     key: 'AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec'
   })
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {batchMode: "BATCH_SINGLE", batchSize: 10})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0        1      2          2                    2

In [36]:
query = """
MATCH (a:Article {url: "https://www.dnp.co.jp/news/detail/20169882_1587.html"})
RETURN a.processed, a.phrase, a.salience
"""
gds.run_cypher(query)

,a.processed,a.phrase,a.salience
0,True,"[生成, DNP, 生活者, サービス, 動画, 企業, 動画, Idomoo, 社, パー...","[0.097036764, 0.09588128, 0.07728278, 0.069813..."

# (postprocessing) free up memory

In [37]:
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()