In [815]:
from graphdatascience import GraphDataScience
import sys

# neo4j desktop v5.11.0

In [816]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 10 # number of nouns extracted from each article
DATA = "WIKI_P100" # DNP or WIKI
URL = ""
TEST = ""
if DATA == "DNP":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
    TEST = "https://www.dnp.co.jp/news/detail/20169924_1587.html"
elif DATA == "WIKI_FP100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Zinedine_Zidane"
elif DATA == "WIKI_P100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_persons_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Hiromu_Nonaka"    
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [817]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [818]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [819]:
# query = f"""
# MERGE (a:Article {{url: "{TEST}"}})
# WITH a
# CALL apoc.load.html(a.url, {{
# title: "title",
# h2: "h2",
# body: "body p"
# }})
# YIELD value
# WITH a,
#     reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#     value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.title, a.body
# """
# gds.run_cypher(query)

In [820]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})
# CALL apoc.nlp.gcp.entities.stream(a, {{
# nodeProperty: 'body',
# key: '{KEY}'
# }})
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url nodes (article, person, ...)

In [821]:
query = f"""
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM '{URL}' AS row
  RETURN row",
  "MERGE (a:Article {{name: row.id, url: row.url}})
  SET a.grp = CASE WHEN 'occupation' IN keys(row) THEN row.occupation ELSE null END
  SET a.grpone = CASE WHEN 'nationality' IN keys(row) THEN row.nationality ELSE null END
  WITH a
  CALL apoc.load.html(a.url, {{
    title: 'title',
    h2: 'h2',
    body: 'body p'
  }})
  YIELD value
  WITH a,
        reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
        value.title[0].text AS title
  SET a.body = body, a.title = title",
  {{batchSize: 5, parallel: true}}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       20    100          3                  100

## set phrase and salience properties

In [822]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100         97                  100

## create noun-url relationships

In [823]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [824]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})-[r:CONTAINS]-(n)
# RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
# """
# gds.run_cypher(query, {'nphrase': nphrase})

## input

In [825]:
if DATA == "DNP":
    # input = {
    #     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
    #     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
    #     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
    #     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
    # }
    # name = "C-1"
    # url = input[name]

    # query = """  
    # MERGE (i:Input {name: $name, url: $url})
    # WITH i
    # CALL apoc.load.html(i.url, {
    #    title: 'title',
    #    h2: "h2",
    #    body: 'body p'
    # })
    # YIELD value
    # WITH i,
    #      reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
    #      value.title[0].text AS title
    # SET i.body = body, i.title = title
    # """
    # gds.run_cypher(query, {"name": name, "url": url})

    name = "Test"
    # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    query = """  
    MERGE (i:Input {name: $name, url: "test.html", title: "For Test", 
            body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    """
    gds.run_cypher(query, {"name": name})
    
elif DATA == "WIKI_FP100":
    name = "Thierry Henry"
    query = """
    MERGE (i:Input {name: $name, url: "https://en.wikipedia.org/wiki/Thierry_Henry"})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name})

elif DATA == "WIKI_P100":
    name = "Thierry Henry"
    query = """
    MERGE (i:Input {name: $name, url: "https://en.wikipedia.org/wiki/Ai_Fukuhara"})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name})
    
# set phrase and salience properties (input)
query = f"""
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [826]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grpone AS Group1, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

/Users/smallcat/anaconda3/lib/python3.10/site-packages/graphdatascience/query_runner/neo4j_query_runner.py:125: RuntimeWarning: One of the property names in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing property name is: grpone)
  warnings.warn(warning)

,Article,URL,Group,Group1,Common,Similarity
0,Haruka Kitaguchi,https://en.wikipedia.org/wiki/Haruka_Kitaguchi,athlete,None,"[Japanese, women]",0.270833
1,Keiichi Suzuki,https://en.wikipedia.org/wiki/Keiichi_Suzuki_(...,engineer,None,[Japanese],0.250000
2,Takao Doi,https://en.wikipedia.org/wiki/Takao_Doi,engineer,None,[Japanese],0.250000
3,Kyōka Suzuki,https://en.wikipedia.org/wiki/Ky%C5%8Dka_Suzuki,actor,None,[Japanese],0.250000
4,Masanao Ozaki,https://en.wikipedia.org/wiki/Masanao_Ozaki,politician,None,[Japanese],0.250000
5,Tsugumi,https://en.wikipedia.org/wiki/Tsugumi_(actress),actor,None,[Japanese],0.250000
6,Koichi Wakata,https://en.wikipedia.org/wiki/Koichi_Wakata,engineer,None,[Japanese],0.250000
7,Antonio Inoki,https://en.wikipedia.org/wiki/Antonio_Inoki,politician,None,[Japanese],0.250000
8,Yoshiko Tanaka,https://en.wikipedia.org/wiki/Yoshiko_Tanaka,actor,None,[Japanese],0.250000
9,Katsuyuki Kondo,https://en.wikipedia.org/wiki/Katsuyuki_Kond%C...,athlete,None,[Japanese],0.250000

## create article-article relationships

In [827]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [828]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,Yukiko Kada,"[Yukiko Kada, father, Team Shiga, member, memb...",Yūgō Shinohara,"[Yugo Shinohara, Winter Olympics., short track...",Japanese,8,6,0.145833
1,Koichi Wakata,"[Koichi Wakata, Japanese, Expedition 39, astro...",Yūgō Shinohara,"[Yugo Shinohara, Winter Olympics., short track...",Japanese,2,6,0.333333
2,Akane Nakashima,"[goalball player, Akane Nakashima, Nakashima A...",Yūgō Shinohara,"[Yugo Shinohara, Winter Olympics., short track...",article,4,9,0.180556
3,Akane Nakashima,"[goalball player, Akane Nakashima, Nakashima A...",Yūgō Shinohara,"[Yugo Shinohara, Winter Olympics., short track...",article,4,9,0.180556
4,Akane Nakashima,"[goalball player, Akane Nakashima, Nakashima A...",Yūgō Shinohara,"[Yugo Shinohara, Winter Olympics., short track...",Wikipedia,7,5,0.171429
...,...,...,...,...,...,...,...,...
7555,Yoshiko Tanaka,"[Yoshiko Tanaka, Japanese, group, Masako Natsu...",Zenbee Mizoguchi,"[Zenbee Mizoguchi, governor, Japanese, Shimane...",Japanese,2,3,0.416667
7556,Dan Takuma,"[Dan Takuma, Frank A. Vanderlip, Japanese, Jap...",Zenbee Mizoguchi,"[Zenbee Mizoguchi, governor, Japanese, Shimane...",Japanese,3,3,0.333333
7557,Hibari Misora,"[Hibari Misora, songs, renditions, mother, Kaz...",Takanori Nishikawa,"[Takanori Nishikawa, charts, Resonance, anime ...",songs,2,9,0.305556
7558,Antonio Inoki,"[Muhammad Hussain Inoki, Japanese, fight, Muha...",Noboru Kurakawa,"[Noboru Kurakawa, Joker, Zeus, All Japan Pro W...",wrestler,9,5,0.155556
7559,Katsuya Kitamura,"[Katsuya Kitamura, Senshu University, New Japa...",Noboru Kurakawa,"[Noboru Kurakawa, Joker, Zeus, All Japan Pro W...",wrestler,4,5,0.225000

## evaluate (still naive by salience)

In [829]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grpone AS Group1, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

/Users/smallcat/anaconda3/lib/python3.10/site-packages/graphdatascience/query_runner/neo4j_query_runner.py:125: RuntimeWarning: One of the property names in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing property name is: grpone)
  warnings.warn(warning)

,Article,URL,Group,Group1,r.common,Similarity
0,Haruka Kitaguchi,https://en.wikipedia.org/wiki/Haruka_Kitaguchi,athlete,None,"[Japanese, women]",0.181038
1,Kaoru Hoshino,https://en.wikipedia.org/wiki/Kaoru_Hoshino,engineer,None,"[Japanese, team]",0.116488
2,Keiichi Suzuki,https://en.wikipedia.org/wiki/Keiichi_Suzuki_(...,engineer,None,[Japanese],0.095929
3,Kōtarō Honda,https://en.wikipedia.org/wiki/Kotaro_Honda,engineer,None,[Japanese],0.088938
4,Kuki Ryūichi,https://en.wikipedia.org/wiki/Kuki_Ry%C5%ABichi,politician,None,[Japanese],0.083825
5,Hiroaki Ōishi,https://en.wikipedia.org/wiki/Hiroaki_Ohishi,athlete,None,[Japanese],0.070690
6,Yūji Takeda,https://en.wikipedia.org/wiki/Yuji_Yaku,athlete,None,[Japanese],0.070690
7,Takao Doi,https://en.wikipedia.org/wiki/Takao_Doi,engineer,None,[Japanese],0.066815
8,Katsuyuki Kondo,https://en.wikipedia.org/wiki/Katsuyuki_Kond%C...,athlete,None,[Japanese],0.065804
9,Kenichi Yamamoto,https://en.wikipedia.org/wiki/Kenichi_Yamamoto...,athlete,None,[Japanese],0.059942

## project graph to memory

In [830]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")

The projection took 12 ms
Graph 'testgraph' node count: 804
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']

## node similarity (JACCARD)

In [831]:
result = gds.nodeSimilarity.filtered.write(
    G,
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="rank",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 1
Mean similarity: 0.03737459182739258

## evaluate (jaccard similarity)

In [832]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grpone AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

/Users/smallcat/anaconda3/lib/python3.10/site-packages/graphdatascience/query_runner/neo4j_query_runner.py:125: RuntimeWarning: One of the property names in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing property name is: grpone)
  warnings.warn(warning)

,Article,URL,Group,Group1,Similarity
0,Haruka Kitaguchi,https://en.wikipedia.org/wiki/Haruka_Kitaguchi,athlete,None,0.078431
1,Fumino Sugiyama,https://en.wikipedia.org/wiki/Fumino_Sugiyama,athlete,None,0.078431
2,Masayuki Uemura,https://en.wikipedia.org/wiki/Masayuki_Uemura,engineer,None,0.047619
3,Kaoru Hoshino,https://en.wikipedia.org/wiki/Kaoru_Hoshino,engineer,None,0.047619
4,Koichi Wakata,https://en.wikipedia.org/wiki/Koichi_Wakata,engineer,None,0.020833
5,Nanako Matsushima,https://en.wikipedia.org/wiki/Nanako_Matsushima,actor,None,0.020408
6,Tsutomu Yamaguchi,https://en.wikipedia.org/wiki/Tsutomu_Yamaguchi,engineer,None,0.020202
7,Miki Ishii,https://en.wikipedia.org/wiki/Miki_Ishii,athlete,None,0.020202
8,Masaaki Kanda,https://en.wikipedia.org/wiki/Masaaki_Kanda,politician,None,0.020000
9,Yoshiko Tanaka,https://en.wikipedia.org/wiki/Yoshiko_Tanaka,actor,None,0.020000

## 1. node embedding

In [833]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank",
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.stream(
    G,
    iterations = 3,
    embeddingDensity = 8,
    generateFeatures = {"dimension": 16, "densityLevel": 1},
    randomSeed = 42,
)

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0      [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, ...
1      [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, ...
2      [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, ...
3      [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, ...
4      [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, ...
                             ...
799    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
800    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, ...
801    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, ...
802    [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, ...
803    [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, ...
Name: embedding, Length: 804, dtype: object

In [834]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="rank", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 804

## 2. kNN

In [835]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 804
Mean similarity: 0.9017574310302734

## evaluate (node embedding + knn)

In [836]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grpone AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

/Users/smallcat/anaconda3/lib/python3.10/site-packages/graphdatascience/query_runner/neo4j_query_runner.py:125: RuntimeWarning: One of the property names in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing property name is: grpone)
  warnings.warn(warning)

,Article,URL,Group,Group1,Similarity
0,Hiroshi Fushida,https://en.wikipedia.org/wiki/Hiroshi_Fushida,engineer,None,0.814331
1,Fumino Sugiyama,https://en.wikipedia.org/wiki/Fumino_Sugiyama,athlete,None,0.787246
2,Kuki Ryūichi,https://en.wikipedia.org/wiki/Kuki_Ry%C5%ABichi,politician,None,0.786454
3,Motoi Oyama,https://en.wikipedia.org/wiki/Motoi_Oyama,athlete,None,0.782978
4,Guts Ishimatsu,https://en.wikipedia.org/wiki/Guts_Ishimatsu,actor,None,0.779125
5,Kyoko Fukada,https://en.wikipedia.org/wiki/Kyoko_Fukada,actor,None,0.746837
6,Seizō Kobayashi,https://en.wikipedia.org/wiki/Seiz%C5%8D_Kobay...,politician,None,0.745791
7,Zeami Motokiyo,https://en.wikipedia.org/wiki/Zeami_Motokiyo,actor,None,0.743403
8,Yukiko Kada,https://en.wikipedia.org/wiki/Yukiko_Kada,politician,None,0.737976
9,Haruka Kitaguchi,https://en.wikipedia.org/wiki/Haruka_Kitaguchi,athlete,None,0.724242

In [837]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grpone AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

/Users/smallcat/anaconda3/lib/python3.10/site-packages/graphdatascience/query_runner/neo4j_query_runner.py:125: RuntimeWarning: One of the property names in your query is not available in the database, make sure you didn't misspell it or that the label is available when you run this statement in your application (the missing property name is: grpone)
  warnings.warn(warning)

,Article,URL,Group,Group1,Similarity
0,Masaaki Kanda,https://en.wikipedia.org/wiki/Masaaki_Kanda,politician,None,0.962910
1,Keiichi Suzuki,https://en.wikipedia.org/wiki/Keiichi_Suzuki_(...,engineer,None,0.956435
2,Uchida Kakichi,https://en.wikipedia.org/wiki/Uchida_Kakichi,politician,None,0.916667
3,Mai Hatsune,https://en.wikipedia.org/wiki/Mai_Hatsune,athlete,None,0.908248
4,Hiroshi Moriyama,https://en.wikipedia.org/wiki/Hiroshi_Moriyama,politician,None,0.885758
5,Hibari Misora,https://en.wikipedia.org/wiki/Hibari_Misora,actor,None,0.885758
6,Kazuki Yao,https://en.wikipedia.org/wiki/Kazuki_Yao,actor,None,0.885758
7,Nobutaka Machimura,https://en.wikipedia.org/wiki/Nobutaka_Machimura,politician,None,0.885758
8,Aya Kamikawa,https://en.wikipedia.org/wiki/Aya_Kamikawa,politician,None,0.865148
9,Kuki Ryūichi,https://en.wikipedia.org/wiki/Kuki_Ry%C5%ABichi,politician,None,0.865148

# (postprocessing) free up memory

In [838]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()