In [943]:
from graphdatascience import GraphDataScience
import sys

# neo4j desktop v5.11.0

In [944]:
host = "bolt://localhost:7687"
user = "neo4j"
password= "j4oenj4oen"

gds = GraphDataScience(host, auth=(user, password))
print(gds.version())

# params
KEY = "AIzaSyAPQNUpCCFrsJhX2A-CgvOG4fDWlxuA8ec" # api key
nphrase = 10 # number of nouns extracted from each article
DATA = "WIKI_P100" # DNP or WIKI
URL = ""
TEST = ""
name = ""
url_input = ""
if DATA == "DNP":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/articles.csv"
    TEST = "https://www.dnp.co.jp/news/detail/20169924_1587.html"
    name = "Test"
    url_input = "test.html"
elif DATA == "WIKI_FP100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_footballplayer_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Zinedine_Zidane"
    name = "Thierry Henry"
    url_input = "https://en.wikipedia.org/wiki/Thierry_Henry"
elif DATA == "WIKI_P100":
    URL = "https://raw.githubusercontent.com/smallcat9603/graph/main/dnp/kg/data/wikidata_persons_100.csv"
    TEST = "https://en.wikipedia.org/wiki/Barack_Obama"    
    name = "Joe Biden"
    url_input = "https://en.wikipedia.org/wiki/Joe_Biden"
else:
    print("DATA ERROR")
    sys.exit(1)

query = """
CREATE CONSTRAINT id_unique IF NOT EXISTS 
For (a:Article) REQUIRE a.url IS UNIQUE;
"""
gds.run_cypher(query)

2.5.4

Empty DataFrame
Columns: []
Index: []

# Create Noun-Article (Star) Graph

In [945]:
# with open("data/data.json", "r") as file:
#     data = json.load(file)
# for key in data:
#     for element0 in data[key]:
#         for element1 in data[key][element0]:
#             node = element0 + "-" + element1
#             if "tfidf" not in data[key][element0][element1]:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"]}
#                 gds.run_cypher(query, params)
#             else:
#                 query = """
#                 MERGE (n:Noun {name:$key})
#                 MERGE (a:Article {name:$node, lines:$lines, tfidf:$tfidf})
#                 MERGE (n)-[l:APPEAR_IN]-(a)
#                 """
#                 params = {'key': key, 'node': node, 'lines': data[key][element0][element1]["lines"], 'tfidf': data[key][element0][element1]["tfidf"]}
#                 gds.run_cypher(query, params)

# Create Noun-[Verb]-Noun Graph

In [946]:
# query = """
# LOAD CSV WITH HEADERS FROM 'file:///noun-verb.csv' AS row
# MERGE (s:Noun {name:row.source})
# MERGE (t:Noun {name:row.target})
# MERGE (s)-[i:INTERACTS {name:row.edge}]->(t)
# """
# gds.run_cypher(query)

# Create Article-[Noun]-Article Graph

## test

In [947]:
# query = f"""
# MERGE (a:Article {{url: "{TEST}"}})
# WITH a
# CALL apoc.load.html(a.url, {{
# title: "title",
# h2: "h2",
# body: "body p"
# }})
# YIELD value
# WITH a,
#     reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
#     value.title[0].text AS title
# SET a.body = body, a.title = title
# RETURN a.title, a.body
# """
# gds.run_cypher(query)

In [948]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})
# CALL apoc.nlp.gcp.entities.stream(a, {{
# nodeProperty: 'body',
# key: '{KEY}'
# }})
# YIELD node, value
# WITH node, value
# UNWIND value.entities AS entity
# RETURN entity
# LIMIT 5;
# """
# gds.run_cypher(query)

## create url nodes (article, person, ...)

In [949]:
query = f"""
CALL apoc.periodic.iterate(
  "LOAD CSV WITH HEADERS FROM '{URL}' AS row
  RETURN row",
  "MERGE (a:Article {{name: row.id, url: row.url}})
  SET a.grp = CASE WHEN 'occupation' IN keys(row) THEN row.occupation ELSE null END
  SET a.grp1 = CASE WHEN 'nationality' IN keys(row) THEN row.nationality ELSE null END
  WITH a
  CALL apoc.load.html(a.url, {{
    title: 'title',
    h2: 'h2',
    body: 'body p'
  }})
  YIELD value
  WITH a,
        reduce(texts = '', n IN range(0, size(value.body)-1) | texts + ' ' + coalesce(value.body[n].text, '')) AS body,
        value.title[0].text AS title
  SET a.body = body, a.title = title",
  {{batchSize: 5, parallel: true}}
)
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       20    100          8                  100

## set phrase and salience properties

In [950]:
query = f"""
CALL apoc.periodic.iterate(
  "MATCH (a:Article)
   WHERE a.processed IS NULL
   RETURN a",
  "CALL apoc.nlp.gcp.entities.stream([item in $_batch | item.a], {{
     nodeProperty: 'body',
     key: '{KEY}'
   }})
   YIELD node, value
   SET node.processed = true
   WITH node, value
   UNWIND value.entities AS entity
   SET node.phrase = coalesce(node.phrase, []) + entity['name']
   SET node.salience = coalesce(node.salience, []) + entity['salience']",
  {{batchMode: "BATCH_SINGLE", batchSize: 10}})
YIELD batches, total, timeTaken, committedOperations
RETURN batches, total, timeTaken, committedOperations
"""
gds.run_cypher(query)

   batches  total  timeTaken  committedOperations
0       10    100        287                  100

## create noun-url relationships

In [951]:
query = """
MATCH (a:Article)
WHERE a.processed IS NOT NULL
FOREACH (word IN a.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (a)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(a.phrase, word) + 1
  SET r.score = a.salience[apoc.coll.indexOf(a.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(a.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [952]:
# query = f"""
# MATCH (a:Article {{url: "{TEST}"}})-[r:CONTAINS]-(n)
# RETURN a.processed, a.phrase[0..$nphrase], a.salience[0..$nphrase], collect(r.rank), collect(r.score), collect(n.name)
# """
# gds.run_cypher(query, {'nphrase': nphrase})

## input

In [953]:
if DATA == "DNP":
    # input = {
    #     "C-1": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_1.html",
    #     "C-2": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_2.html",
    #     "C-3": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231004_3.html",
    #     "C-4": "https://www.holdings.toppan.com/ja/news/2023/10/newsrelease231003_1.html"
    # }
    # name = "C-1"
    # url = input[name]

    # query = """  
    # MERGE (i:Input {name: $name, url: $url})
    # WITH i
    # CALL apoc.load.html(i.url, {
    #    title: 'title',
    #    h2: "h2",
    #    body: 'body p'
    # })
    # YIELD value
    # WITH i,
    #      reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
    #      value.title[0].text AS title
    # SET i.body = body, i.title = title
    # """
    # gds.run_cypher(query, {"name": name, "url": url})

    # 以下の単語を使って200文字の作文を作ってください：東京都, DNP, 自然共生サイト, 市谷の杜, 保全 (from B-10)
    query = """  
    MERGE (i:Input {name: $name, url: "test.html", title: "For Test", 
            body: "東京都内に広がる市谷の杜はDNPが運営する自然共生サイトで、ここでは豊かな生態系と調和した環境が保全されています。DNPは、この地域の美しい自然を守り、持続可能な未来を築くために積極的に取り組んでいます。市谷の杜では、植物や動物が調和し、緑豊かなエリアが市民に開かれています。DNPは、地域社会と協力して環境保護に努め、市谷の杜が未来世代にも継承されるよう努力しています。"})
    """
    gds.run_cypher(query, {"name": name})
    
elif DATA.startswith("WIKI"):
    query = """
    MERGE (i:Input {name: $name, url: $url_input})
    WITH i
    CALL apoc.load.html(i.url, {
    title: "title",
    h2: "h2",
    body: "body p"
    })
    YIELD value
    WITH i,
        reduce(texts = "", n IN range(0, size(value.body)-1) | texts + " " + coalesce(value.body[n].text, "")) AS body,
        value.title[0].text AS title
    SET i.body = body, i.title = title
    RETURN i.title, i.body
    """
    gds.run_cypher(query, {"name": name, "url_input": url_input})
    
# set phrase and salience properties (input)
query = f"""
MATCH (i:Input)
CALL apoc.nlp.gcp.entities.stream(i, {{
 nodeProperty: 'body',
 key: '{KEY}'
}})
YIELD node, value
SET node.processed = true
WITH node, value
UNWIND value.entities AS entity
SET node.phrase = coalesce(node.phrase, []) + entity['name']
SET node.salience = coalesce(node.salience, []) + entity['salience']
"""
gds.run_cypher(query)

# create noun-article relationships (input)
query = """
MATCH (i:Input)
WHERE i.processed IS NOT NULL
FOREACH (word IN i.phrase[0..$nphrase] |
  MERGE (n:Noun {name: word})
  MERGE (i)-[r:CONTAINS]-(n)
  SET r.rank = apoc.coll.indexOf(i.phrase, word) + 1
  SET r.score = i.salience[apoc.coll.indexOf(i.phrase, word)]
  SET r.weight = $nphrase - apoc.coll.indexOf(i.phrase, word)
)
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## evaluate (naive by rank)

In [954]:
query = """
MATCH (i:Input)-[r:CONTAINS]-(n:Noun)-[c:CONTAINS]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, collect(n.name) AS Common, SUM((1.0/r.rank)*(1.0/c.rank)) AS Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Common,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,"[United States Senate, Barack Obama]",0.333333
1,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,[United States Senate],0.100000
2,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,[Barack Obama],0.083333
3,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,[Barack Obama],0.041667
4,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,[Latin American],0.027778

## create article-article relationships

In [955]:
query = """
MATCH (a1:Article), (a2:Article)
WHERE a1 <> a2 AND any(x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase])
MERGE (a1)-[r:CORRELATES]-(a2)
SET r.common = [x IN a1.phrase[0..$nphrase] WHERE x IN a2.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

#input
query = """
MATCH (i:Input), (a:Article)
WHERE any(x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase])
MERGE (i)-[r:CORRELATES]-(a)
SET r.common = [x IN i.phrase[0..$nphrase] WHERE x IN a.phrase[0..$nphrase]]
"""
gds.run_cypher(query, {'nphrase': nphrase})

Empty DataFrame
Columns: []
Index: []

## test

In [956]:
query = """
MATCH (a1:Article)-[r:CORRELATES]-(a2:Article)
WITH a1, a2, r.common AS commonValues
UNWIND commonValues AS commonValue
WITH a1, a2, commonValue, 
     apoc.coll.indexOf(a1.phrase, commonValue) + 1 AS rank1, 
     apoc.coll.indexOf(a2.phrase, commonValue) + 1 AS rank2
RETURN a1.name, a1.phrase[0..$nphrase], a2.name, a2.phrase[0..$nphrase], commonValue, rank1, rank2, (1.0/rank1 + 1.0/rank2) * 0.5 AS Similarity
"""
gds.run_cypher(query, {'nphrase': nphrase})

,a1.name,a1.phrase[0..$nphrase],a2.name,a2.phrase[0..$nphrase],commonValue,rank1,rank2,Similarity
0,Roy Walter Riehlman,"[Roy Walter Riehlman, member, Tully, New York,...",Richard Nixon,"[The Political Obituary of Richard M. Nixon, D...",Dwight D. Eisenhower,8,2,0.312500
1,Mark Sanford,"[Marshall Clement ``Mark'' Sanford Jr., South ...",Richard Nixon,"[The Political Obituary of Richard M. Nixon, D...",Congress,9,4,0.180556
2,Ayame Goriki,"[Ayame Goriki, Oscar Promotion, model, Short C...",Hiroshi Masuoka,"[Hiroshi Masuoka, Japanese, 2009 Dakar Rally, ...",Japanese,8,2,0.312500
3,Akio Morita,"[Akio Morita, Sony, Masaru Ibuka, radio, Japan...",Hiroshi Masuoka,"[Hiroshi Masuoka, Japanese, 2009 Dakar Rally, ...",Japanese,6,2,0.333333
4,Shinichiro Sakurai,"[Shinichiro Sakurai, automotive industry, Saku...",Hiroshi Masuoka,"[Hiroshi Masuoka, Japanese, 2009 Dakar Rally, ...",Japanese,5,2,0.350000
...,...,...,...,...,...,...,...,...
3063,George W. Bush,"[George Walker Bush, presidency, presidency, B...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",American,5,4,0.225000
3064,Todd Whitting,"[Todd Ross Whitting, player, American, head co...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",American,3,4,0.291667
3065,Charles Thias,"[Charles Henry Robert Thias, Southwest Turnver...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",American,7,4,0.196429
3066,Wally Albright,"[Wally Albright, water sportsman, businessman,...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",American,5,4,0.225000
3067,Abraham Lincoln,"[Abraham Lincoln, Stephen A. Douglas, Union, R...",Alberto Salazar,"[Alberto Salazar, Jose, allegations, American,...",American,9,4,0.180556

## evaluate (still naive by salience)

In [957]:
query = """
MATCH (i:Input)-[r:CORRELATES]-(a:Article)
WITH r, a, reduce(s = 0.0, word IN r.common | 
s + i.salience[apoc.coll.indexOf(i.phrase, word)] + a.salience[apoc.coll.indexOf(a.phrase, word)]) AS Similarity
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.common, Similarity 
ORDER BY Similarity DESC
LIMIT 10
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,r.common,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,"[United States Senate, Barack Obama]",0.467595
1,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,[United States Senate],0.051510
2,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,[Barack Obama],0.012120
3,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,[Barack Obama],0.011422
4,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,[Latin American],0.004580

## project graph to memory

In [958]:
node_projection = ["Input", "Article", "Noun"]
# # why raising error "java.lang.UnsupportedOperationException: Loading of values of type StringArray is currently not supported" ???
# node_projection = {"Input": {"properties": 'phrase'}, "Article": {"properties": 'phrase'}, "Noun": {}}
relationship_projection = {
    "CONTAINS": {"orientation": "UNDIRECTED", "properties": ["rank", "score", "weight"]},
    # "CORRELATES": {"orientation": "UNDIRECTED", "properties": ["common"]} # Unsupported type [TEXT_ARRAY] of value StringArray[DNP]. Please use a numeric property.
    }
# # how to project node properties???
# node_properties = { 
#     "nodeProperties": {
#         "phrase": {"defaultValue": []},
#         "salience": {"defaultValue": []}
#     }
# }
G, result = gds.graph.project("testgraph", node_projection, relationship_projection)
print(f"The projection took {result['projectMillis']} ms")
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")
print(f"Graph '{G.name()}' relationship count: {G.relationship_count()}")
print(f"Graph '{G.name()}' degree distribution: {G.degree_distribution()}")
print(f"Graph '{G.name()}' density: {G.density()}")
print(f"Graph '{G.name()}' size in bytes: {G.size_in_bytes()}")
print(f"Graph '{G.name()}' memory_usage: {G.memory_usage()}")

The projection took 9 ms
Graph 'testgraph' node count: 868
Graph 'testgraph' node labels: ['Input', 'Article', 'Noun']
Graph 'testgraph' relationship count: 1970
Graph 'testgraph' degree distribution: p99      30.000000
min       3.000000
max     117.000000
p90      27.000000
mean      6.808756
p50       3.000000
p999    117.000000
p95      30.000000
p75       3.000000
dtype: float64
Graph 'testgraph' density: 0.002617745390376264
Graph 'testgraph' size in bytes: 6616715
Graph 'testgraph' memory_usage: 6461 KiB

## node similarity (JACCARD)

In [959]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='JACCARD', # default
    writeRelationshipType='SIMILAR_J',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 5
Nodes compared: 1
Mean similarity: 0.07544918060302734

## evaluate (jaccard similarity)

In [960]:
query = """
MATCH (i:Input)-[r:SIMILAR_J]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,0.170213
1,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.073684
2,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,0.057692
3,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.047619
4,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,0.028037

## node similarity (OVERLAP)

In [961]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='OVERLAP',
    writeRelationshipType='SIMILAR_O',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 5
Nodes compared: 1
Mean similarity: 0.1388782501220703

## evaluate (overlap similarity)

In [962]:
query = """
MATCH (i:Input)-[r:SIMILAR_O]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,0.290909
1,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.148936
2,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,0.109091
3,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.090909
4,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,0.054545

## node similarity (COSINE)

In [963]:
result = gds.nodeSimilarity.filtered.write(
    G,
    similarityMetric='COSINE',
    writeRelationshipType='SIMILAR_C',
    writeProperty='score',
    relationshipWeightProperty="weight",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 5
Nodes compared: 1
Mean similarity: 0.16017093658447265

## evaluate (cosine similarity)

In [964]:
query = """
MATCH (i:Input)-[r:SIMILAR_C]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,0.374026
1,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.159296
2,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,0.140260
3,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.064935
4,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,0.062338

## 1. node embedding

In [965]:
# fastrp
result = gds.fastRP.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.stream(
    G,
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# # hashgnn
# result = gds.beta.hashgnn.stream(
#     G,
#     iterations = 3,
#     embeddingDensity = 8,
#     generateFeatures = {"dimension": 16, "densityLevel": 1},
#     randomSeed = 42,
# )

print(f"Embedding vectors: {result['embedding']}")

Embedding vectors: 0      [-2.7744011878967285, -0.30493491888046265, 0....
1      [-1.5578213930130005, -0.011470677331089973, 0...
2      [-1.661454439163208, 0.6588519215583801, 0.483...
3      [-1.616807222366333, 0.38175928592681885, -0.2...
4      [-0.829533576965332, 0.9676360487937927, 0.142...
                             ...
863    [-1.1448423862457275, 0.8694884181022644, 0.71...
864    [-1.0979461669921875, 0.8633883595466614, 0.76...
865    [-1.0041391849517822, 0.6435492634773254, 0.58...
866    [-0.9768794775009155, 0.5719609260559082, 0.64...
867    [-0.8028375506401062, 0.5773894786834717, 0.60...
Name: embedding, Length: 868, dtype: object

In [966]:
# fastrp
result = gds.fastRP.mutate(
    G,
    mutateProperty="embedding_fastrp",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight", # each relationship should have
    iterationWeights=[1, 1, 1],
)

# node2vec
result = gds.node2vec.mutate(
    G,
    mutateProperty="embedding_node2vec",
    randomSeed=42,
    embeddingDimension=16,
    relationshipWeightProperty="weight",
    iterations=3,
)

# hashgnn
result = gds.beta.hashgnn.mutate(
    G,
    mutateProperty="embedding_hashgnn",
    randomSeed=42,
    heterogeneous=True,
    iterations=3,
    embeddingDensity=8,
    # opt1
    generateFeatures={"dimension": 16, "densityLevel": 1},
    # # opt2 not work
    # binarizeFeatures={"dimension": 16, "threshold": 0},
    # featureProperties=['phrase', 'salience'], # each node should have
)

print(f"Number of embedding vectors produced: {result['nodePropertiesWritten']}")

Number of embedding vectors produced: 868

## 2. kNN

In [967]:
# fastrp
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_fastrp"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_F",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# node2vec
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_node2vec"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_N",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

# hashgnn
result = gds.knn.filtered.write(
    G,
    topK=10,
    nodeProperties=["embedding_hashgnn"],
    randomSeed=42, # Note that concurrency must be set to 1 when setting this parameter.
    concurrency=1,
    sampleRate=1.0,
    deltaThreshold=0.0,
    writeRelationshipType="SIMILAR_H",
    writeProperty="score",
    sourceNodeFilter="Input",
    targetNodeFilter="Article",
)

print(f"Relationships produced: {result['relationshipsWritten']}")
print(f"Nodes compared: {result['nodesCompared']}")
print(f"Mean similarity: {result['similarityDistribution']['mean']}")

Relationships produced: 10
Nodes compared: 868
Mean similarity: 0.8510005950927735

## evaluate (node embedding + knn)

In [968]:
# fastrp
query = """
MATCH (i:Input)-[r:SIMILAR_F]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,Hiroshi Masuoka,https://en.wikipedia.org/wiki/Hiroshi_Masuoka_...,engineer,Japan,0.814627
1,David Paterson,https://en.wikipedia.org/wiki/David_Paterson,politician,United States of America,0.795460
2,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.749076
3,Etsunobu Ebisu,https://en.wikipedia.org/wiki/Etsunobu_Ebisu,engineer,Japan,0.729395
4,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.714621
5,Eizaburo Nishibori,https://en.wikipedia.org/wiki/Eizaburo_Nishibori,engineer,Japan,0.693036
6,Aaron Links,https://en.wikipedia.org/wiki/Aaron_Links,athlete,United States of America,0.690772
7,Sakura Miyawaki,https://en.wikipedia.org/wiki/Sakura_Miyawaki,actor,Japan,0.683394
8,Mayu Watanabe,https://en.wikipedia.org/wiki/Mayu_Watanabe,actor,Japan,0.682533
9,Fumihiko Imamura,https://en.wikipedia.org/wiki/Fumihiko_Imamura,engineer,Japan,0.675535

In [969]:
# node2vec
query = """
MATCH (i:Input)-[r:SIMILAR_N]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,John McCain,https://en.wikipedia.org/wiki/John_McCain,politician,United States of America,0.947761
1,Sonia Sotomayor,https://en.wikipedia.org/wiki/Sonia_Sotomayor,politician,United States of America,0.929350
2,George W. Bush,https://en.wikipedia.org/wiki/George_W._Bush,politician,United States of America,0.906920
3,Lyndon B. Johnson,https://en.wikipedia.org/wiki/Lyndon_B._Johnson,politician,United States of America,0.904206
4,Deval Patrick,https://en.wikipedia.org/wiki/Deval_Patrick,politician,United States of America,0.900500
5,Barack Obama,https://en.wikipedia.org/wiki/Barack_Obama,politician,United States of America,0.865825
6,George Pataki,https://en.wikipedia.org/wiki/George_Pataki,politician,United States of America,0.846691
7,Gerald Ford,https://en.wikipedia.org/wiki/Gerald_Ford,politician,United States of America,0.822047
8,Aaron Links,https://en.wikipedia.org/wiki/Aaron_Links,athlete,United States of America,0.803167
9,Masaru Ibuka,https://en.wikipedia.org/wiki/Masaru_Ibuka,engineer,Japan,0.786106

In [970]:
# hashgnn
query = """
MATCH (i:Input)-[r:SIMILAR_H]-(a:Article)
RETURN a.name AS Article, a.url AS URL, a.grp AS Group, a.grp1 AS Group1, r.score AS Similarity
ORDER BY Similarity DESC
"""
gds.run_cypher(query)

,Article,URL,Group,Group1,Similarity
0,Natsuna Watanabe,https://en.wikipedia.org/wiki/Natsuna_Watanabe,actor,Japan,0.900000
1,George Pataki,https://en.wikipedia.org/wiki/George_Pataki,politician,United States of America,0.900000
2,Hillary Clinton,https://en.wikipedia.org/wiki/Hillary_Clinton,politician,United States of America,0.895285
3,Alberto Salazar,https://en.wikipedia.org/wiki/Alberto_Salazar,athlete,United States of America,0.865148
4,Aya Matsuura,https://en.wikipedia.org/wiki/Aya_Matsuura,actor,Japan,0.838062
5,Masaru Ibuka,https://en.wikipedia.org/wiki/Masaru_Ibuka,engineer,Japan,0.838062
6,Stan Bowman,https://en.wikipedia.org/wiki/Stan_Bowman,athlete,United States of America,0.838062
7,Tom Lichtenberg,https://en.wikipedia.org/wiki/Tom_Lichtenberg,athlete,United States of America,0.835410
8,Tom Higgins,https://en.wikipedia.org/wiki/Tom_Higgins_(roc...,athlete,United States of America,0.800000
9,Yukina Kashiwa,https://en.wikipedia.org/wiki/Yukina_Kashiwa,actor,Japan,0.800000

# (postprocessing) free up memory

In [971]:
G.drop()
query = """
MATCH (n) DETACH DELETE n
"""
gds.run_cypher(query)
gds.close()